<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Are you sure you want to do this?</h4>
    </div>
    <div class="modal-body">
      <p>This action <b>cannot</b> be undone. This will permanently delete the <b><%= location.name %></b> location.  If this location is in use elsewhere, the main location will be substituted.</p>
      <p><em>It's important to understand that your website, online giving, or mobile app may have visitors who have selected to use this campus.  If you have questions about how this may affect you, please <b>contact us before deleting</b> the location.</em></p>
    </div>
    <div class="modal-footer">
      <a href="/location/destroy/<%= location.id %>" class="btn btn-danger">I understand, delete this location</a>
    </div>
  </div>
</div>
