#focus {
  left: -200px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 99;
}

.dash-panel-right {
  .panel-body {
    form.form-horizontal {
      margin-bottom: -15px;
    }
  }
}