.podcast {
  .wizard {
    margin: 80px 15%;
    h1 {
      margin-top: 10px;
    }
    h4 {
      margin-bottom: 30px;
      font-weight: 200;
    }
    input[type="text"] {
      width: 50%;
      font-size: 18px;
      padding: 20px 15px;
      font-weight: 200;
      margin: 0 auto;
    }
    .source {
      .dropdown {
        margin-bottom: 20px;
      }
      h4 {
        margin-bottom: 10px;
      }
      .nav-pills {
        width: 50%;
        margin: 0 auto;
        font-size: 17px;
      }
    }
    .panel-footer {
      margin: 30px -14px -15px -15px;
      padding: 15px 20px;
      a.help {
        font-size: 16px;
        margin-top: 7px;
      }
    }
  }
  .list {
    .table-list {
      margin-top: -38px;

      .thumb {
        padding-left: 0;
        width: 100px;
      }
      .subscribers {
        width: 130px;
      }
      .operations {
        width: 120px;
      }
    }
  }
  .view {
    h1 {
      margin: 0 15px;
    }
    .panel-top {
      margin-top: 20px;
    }
    .panel-heading {
      button {
        margin-right: -11px;
        margin-top: -6px;
      }
    }
    .panel-body {
      padding: 0;

      table {
        margin-bottom: 0;

        img {
          padding-right: 10px;
        }
      }
    }
    .progress {
      margin: 20px;
    }
    table.episodes {
      h5 {
        margin-bottom: 0;
        margin-top: 0;
      }
      .media {
        .operations {
          width: 50px;
        }
      }
      &.video .media td {
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 0;

        h5 {
          margin-top: 15px;
        }
      }
    }
    .dropdown {
      z-index: 1;
    }
    .subscribers {
      a {
        margin-top: -4px;
      }
    }
    .dash-panel-right {
      .actions {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 20px;
        &.top {
          position: relative;
        }
      }
    }
  }
}

.modal-dialog .podcast-media {
  .date.well {
    margin-bottom: 0;
  }
}

.vjs-podcast-skin {
  &.vjs-has-started.vjs-user-inactive {
    .vjs-control-bar {
      opacity: 1 !important;
    }
  }
  .vjs-big-play-button {
    margin: -15px !important;
    &:before {
      border-width: 15px 0 15px 30px !important;
    }
  }
}