<div class="dash-panel-left small">
  <div id="statistics-panel" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Statistics</h3>
    </div>
    <div class="panel-body">
      <div class="row podcast-row">
        <div class="col-sm-4">
          <div id="podcast-subscribers"></div>
        </div>
        <div class="col-sm-8">
          <h3><span class="change-count"></span>% <i class="fa fa-arrow-up pull-right text-success"></i><br /><small><span class="change-type">increase</span> in podcast subscribers</small></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Locations <a href="/locations" class="btn btn-lg btn-link btn-panel"><i class="fa fa-cog"></i></a></h3>
    </div>
    <div class="panel-body full">
      <div id="locations-canvas"></div>
    </div>
  </div>
</div>
<div class="dash-panel-right large">
  
</div>
<script>
  var map, loc;

  function addMarker(location, name, active) {          
    var marker = new google.maps.Marker({
      position: location,
      map: map,
      title: name,
      icon: '/images/pin.png',
      color: 0x1591b5
    });
  }

  jQuery(document).ready(function($) {
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      panControl: false,
      mapTypeControl: false,
      scrollwheel: false,
      navigationControl: false,
      zoomControl: false,
      draggable: false,
      streetViewControl: false,
      maxZoom: 15
    };

    $.getJSON('location/ministry', function(data) {
      map =  new google.maps.Map(document.getElementById('locations-canvas'), mapOptions);

      data.forEach(function(val) {
        loc = new google.maps.LatLng(val.loc[1],val.loc[0]);
        bounds.extend(loc);
        addMarker(loc, val.name, 'active');
      });

      map.fitBounds(bounds);
      map.panToBounds(bounds);
    });

    $.getJSON('dashboard/stats', function(data) {
      var graphData = [];
      for (var key in data.podcast) {
        graphData.push(data.podcast[key]);
      }
      graphData.pop();

      $('#podcast-subscribers').sparkline(graphData, {
        type: 'line',
        width: '96%',
        height: '50px',
        lineColor: '#106982',
        spotColor: '#1591b5',
        fillColor: '#ececec',
        minSpotColor: '#d2322d',
        maxSpotColor: '#5cb85c',
        highlightSpotColor: '#1591b5',
      });

      $('.podcast-row .change-count').text(data.podcastChange.toFixed(1));

      if (data.podcastChange < 0) {
        $('.podcast-row .change-type').text('decrease');
        $('.podcast-row .fa').removeClass('fa-arrow-up text-success');
        $('.podcast-row .fa').addClass('fa-arrow-down text-danger')
      }
    });

  });
</script>
