<div class="dash-panel-full">
  <h1>Podcasts <a href="/podcast/new" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> New Podcast</a></h1>
  <table class="table podcast-list">
    <thead>
      <tr>
        <th colspan="2"></th>
        <th class="type text-muted">Type</th>
        <th class="subscribers text-muted">Subscribers</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td class="thumb">
          <img class="image-style-thumbnail" typeof="foaf:Image" src="http://162.243.222.13/sites/default/files/styles/thumbnail/public/podcast/podcast_logo.jpg?itok=RbS3u_HD" width="100" height="100" alt="">
        </td>
        <td class="title"><a href="/node/4">Coastal Community Church Audio</a></td>
        <td class="type">Bethel</td>
        <td class="subscribers"><h1><span data-toggle="tooltip" data-placement="bottom" title="The average number of daily subscribers over the past 7 days.">347</span></1></td>
        <td class="operations">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default">Manage</button>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="#">Edit podcast</a></li>
              <li><a href="#">Manage media</a></li>
              <li class="divider"></li>
              <li><a href="#">Remove podcast</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
