<form class="form-horizontal" role="form" action="/podcast/create" method="post" accept-charset="UTF-8">
  <div class="dash-panel-left">
    <h1>New Podcast</h1>
    <%- partial('partials/form-ui') %>
  </div>
  <div class="dash-panel-right">
    <%- partial('partials/form-sidebar') %>
    <div id="actions">
      <a href="/podcasts" class="btn btn-block btn-default">Cancel</a> <button type="submit" class="btn btn-block btn-lg btn-primary">Create Podcast</button>
    </div>
  </div>
</form>
