md-whiteframe.welcome-modal {
  button {
    margin-right: 15px;
  }
  md-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
  md-list-item:hover {
    cursor: pointer;
  }
  md-divider {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

md-whiteframe.locations-list {
  .angular-google-map-container {
    height: 200px;
  }
  .md-button.md-fab.md-fab-top-right {
    top: 220px;
  }
}
