md-whiteframe.welcome-modal {
  button {
    margin-right: 15px;
  }
  .md-fab {
    margin-right: 20px;
  }
  md-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
  md-list-item:hover {
    cursor: pointer;
  }
  md-divider {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.stats.teaser {
  text-align: center;
  md-icon {
    opacity: 0.3;
    width: 72px;
    height: 72px;
    font-size: 72px;
  }
}

md-whiteframe.platform-updates {
  .md-list-item-text p.snippet {
    font-weight: normal;
  }
}

md-whiteframe.locations-list {
  .angular-google-map-container {
    height: 200px;
  }
  .md-button.md-fab.md-fab-top-right {
    top: 220px;
  }
}

md-dialog.location-create {

  .address md-icon {
    color: @brand-color;
  }

  .address.location-off md-icon {
    color: rgba(0, 0, 0, 0.258824);
  }

}

md-whiteframe.services-list {
  img {
    height: 30px;
    padding-left: 16px;
  }
  .md-button {
    margin-top: 16px;
  }
}
