<md-toolbar aria-hidden="false">
  <div class="md-toolbar-tools">
    <span flex></span>
    <div class="md-toolbar-item" layout="column">
      <a class="md-button md-default-theme" href="#/settings"><span>{{ ministry.name }}</span></a>
    </div>
    <div class="md-toolbar-item" layout="column">
      <a href="/logout"><i class="material-icons md-24">exit_to_app</i></a>
    </div>
    &nbsp;
    <img class="avatar" data-ng-src="{{ user.avatar }}" alt="{{ user.name }}" width="64" height="64" />
  </div>
</md-toolbar>

<md-content class="md-padding main-content" ng-controller="dashboardController">

  <md-whiteframe class="md-whiteframe-z1 md-padding welcome-modal" layout="column">
    <div layout="row">
      <div flex="40" flex-sm="100">
        <h2 class="light">Welcome, {{ user.name }}</h2>
        <p hide-sm>Thanks for joining us!</p>
        <p hide-gt-md>We're still optimizing the platform for mobile devices. Pardon our dust!
          Meanwhile, please use a full-size device to access Bethel.</p>
        <p>Feedback? Need help? <a href="mailto:help@bethel.io">Talk to us</a>.</p>
      </div>
      <div offset="10" flex="50" hide-sm>
        <md-list>
          <md-list-item class="md-2-line">
            <md-button class="md-fab md-hue-2" aria-label="Locations" href="#/settings/locations">
              <md-icon>location_on</md-icon>
            </md-button>
            <div class="md-list-item-text">
              <h3>Ministry locations</h3>
              <p>Update your locations and service times here.</p>
            </div>
          </md-list-item>
          <md-divider md-inset></md-divider>
          <md-list-item class="md-2-line">
            <md-button class="md-fab md-hue-2" aria-label="Settings" href="#/settings/">
              <md-icon>settings</md-icon>
            </md-button>
            <div class="md-list-item-text">
              <h3>My Settings</h3>
              <p>Edit your account and customize your settings.</p>
            </div>
          </md-list-item>
          <md-divider md-inset></md-divider>
          <md-list-item class="md-2-line">
            <md-button class="md-fab md-hue-2" aria-label="Help"  href="mailto:help@bethel.io">
              <md-icon>live_help</md-icon>
            </md-button>
            <div class="md-list-item-text">
              <h3>Need help?</h3>
              <p>We're a phone call or a click away!</p>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </md-whiteframe>

  <div layout="row" equalize="md-whiteframe">

    <div layout="column" flex="40" hide-sm>
      <md-whiteframe class="md-whiteframe-z1 stats teaser" layout layout-align="center center">
        <div>
          <md-icon>insert_chart</md-icon>
          <h3 class="light">Statistics Coming Soon!</h3>
        </div>
      </md-whiteframe>
    </div>

    <div layout="column" flex="60" flex-sm="100">
        <md-whiteframe class="md-whiteframe-z1 platform-updates" layout>
          <md-list>
            <md-list-item class="md-2-line" ng-click="loadUpdate(update)" ng-cloak ng-repeat="update in platformUpdates">
              <md-icon>mode_comment</md-icon>
              <div class="md-list-item-text">
                <h3>{{ update.title }}</h3>
                <p am-time-ago="update.publishedDate"></p>
                <p class="snippet">{{ update.contentSnippet }}</p>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-whiteframe>
    </div>

  </div>

</md-content>
