<div layout="row" ng-controller="integrationsController">

  <div layout="column" flex="75" layout-padding>

    <md-subheader>Configured Integrations</md-subheader>
    <md-whiteframe class="md-whiteframe-z1" layout="column">
      <md-list>
        <md-list-item ng-cloak ng-if="integrations.length < 1">
          <p>Integrations connect Bethel with other accounts you're already using. Click one of the logos to the right to get started!</p>
        </md-list-item>
        <md-list-item class="md-2-line" ng-cloak ng-click="integrationForm($event, integration.id)" ng-repeat="integration in integrations | orderBy: 'name'">
          <md-icon>extension</md-icon>
          <div class="md-list-item-text">
            <h3>{{ integration.name }}</h3>
            <p>{{ integration.provider }}</p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-whiteframe>

  </div>
  <div layout="column" flex="25" layout-padding>

    <md-subheader>Available Integrations</md-subheader>
    <md-whiteframe class="md-whiteframe-z1 services-list" layout="column">
      <md-list>
        <md-list-item>
          <a href="/service/vimeo"><img src="/images/integrations/vimeo.png" /></a>
          <p></p>
          <md-button href="/service/vimeo" class="md-primary">Add</md-button>
        </md-list-item>
      </md-list>
    </md-whiteframe>

  </div>
</div>
