<div class="form-group">
  <label class="col-sm-3 control-label">Type</label>
  <div class="col-sm-9">
    <label class="radio-inline">
      <input type="radio" name="type" value="1"<% if (typeof podcast == 'undefined' || (typeof podcast != 'undefined' && podcast.type == 1)) { %> checked<% } %>> Audio
    </label>
    <label class="radio-inline">
      <input type="radio" name="type" value="2"<% if (typeof podcast != 'undefined' && podcast.type == 2) { %> checked<% } %>> Video
    </label>
  </div>
</div>
<div class="form-group">
  <label for="podcastDescription" class="col-sm-3 control-label">Hosting</label>
  <div class="col-sm-9">
    <div class="radio">
      <label>
        <input type="radio" name="source" id="optionsRadios1" value="1"<% if (typeof podcast == 'undefined' || (typeof podcast != 'undefined' && podcast.type == 1)) { %> checked<% } %>>
        Bethel Cloud Storage
      </label>
    </div>
    <div class="radio video-only">
      <label>
        <input type="radio" name="source" id="optionsRadios2" value="2"<% if (typeof podcast != 'undefined' && podcast.type == 2) { %> checked<% } %>>
        Vimeo Pro
      </label>
    </div>
  </div>
</div>
<hr class="half-rule vimeo-only">
<div class="form-group vimeo-only">
  <label class="col-sm-3 control-label">Account</label>
  <div class="col-sm-9">
    <% _.each(services, function(service) { %>
    <div class="radio">
      <label>
        <input type="radio" name="service" value="<%= service.id %>"<% if (typeof podcast != 'undefined' && podcast.service == service.id) { %> checked<% } %>>
        <%= service.name %>
      </label>
    </div>
    <% }) %>
  </div>
</div>
<div class="form-group vimeo-only">
  <label class="col-sm-3 control-label">Videos to Sync</label>
  <div class="col-sm-9">
    <input type="text" class="form-control" name="sourceMeta" placeholder="Only videos with tags matching these will be included." <% if (typeof podcast != 'undefined') { %> value="<%= podcast.sourceMeta %>"<% } %> />
  </div>
</div>
