<div id="focus" ng-hide="user">
  <div id="login-signup" ng-show="authCheck == true" ng-controller="LoginController" class="panel ng-hide">
    <img src="https://s3.amazonaws.com/static.bethel.io/images/logo.png" class="logo" />
    <h2 class="title">Welcome back!</h2>
    <form class="user-form" ng-submit="login(credentials)">
      <div class="form-item form-type-textfield form-item-name" ng-class="{'has-error': error.name === true}">
        <i class="glyphicon glyphicon-user"></i><input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="form-control form-text" placeholder="Username" type="email" ng-model="credentials.name" required="true">
      </div>
      <div class="form-item form-type-password form-item-pass" ng-class="{'has-error': error.pass === true}">
        <i class="glyphicon glyphicon-lock"></i><input class="form-control form-text" placeholder="Password" type="password" ng-model="credentials.pass" required="true">
      </div>
      <button class="btn btn-lg btn-block" tabindex="3" type="submit" value="Log In">Log In</button>
    </form>
    <a class="panel-footer" href="/#/signup">New to Bethel? &nbsp;<span>Sign Up</span></a>
  </div>
</div>
<div ui-view></div>