<div id="focus" ng-hide="user">
  <div id="login-signup-wrapper" ng-show="authCheck" ng-controller="LoginController">
    <img src="https://s3.amazonaws.com/static.bethel.io/images/logo.png" class="logo" />
    <h2 class="title" id="page-title">Welcome back!</h2>
    <form class="user-form" ng-submit="login(credentials)">
      <div class="form-item form-type-textfield form-item-name" ng-class="{'has-error': error.name === true}">
        <i class="glyphicon glyphicon-user"></i><input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="form-control form-text" placeholder="Username" type="email" ng-model="credentials.name" required="true">
      </div>
      <div class="form-item form-type-password form-item-pass" ng-class="{'has-error': error.pass === true}">
        <i class="glyphicon glyphicon-lock"></i><input class="form-control form-text" placeholder="Password" type="password" ng-model="credentials.pass" required="true">
      </div>
      <div class="form-actions form-wrapper pull-right" id="edit-actions">
        <input class="btn-md btn btn-primary button form-submit" type="submit" value="Log in">
      </div>
    </form>
  </div>
</div>
<div ui-view></div>