<md-content class="main-content inverse" layout-fill id="login" layout="row" layout-align="center center" ng-cloak ng-if="!user">
  <form flex="30" flex-sm="90" flex-md="50" layout-align="center center" name="userLoginForm" ng-controller="LoginController" ng-submit="login(credentials)">

    <div layout-fill layout="row" layout-align="center center">
      <img src="/images/logo-landscape.svg" />
    </div>

    <md-card layout-fill ng-show="authCheck" id="login-signup">

      <md-card-content layout="column">

          <md-input-container>
            <md-icon>person</md-icon>
            <label>Email</label>
            <input autocorrect="off" autocapitalize="off" name="email" ng-model="credentials.name" required spellcheck="false" type="email" />
            <div ng-messages="userLoginForm.email.$error" ng-if="userLoginForm.email.$touched && !userLoginForm.email.$valid">
              <div ng-message="required || email">A valid e-mail address is required.</div>
              <div ng-message="loginValid">No account was found with this e-mail address.</div>
            </div>
          </md-input-container>

          <md-input-container>
            <md-icon>lock</md-icon>
            <label>Password</label>
            <input autocorrect="off" autocapitalize="off" name="password" ng-model="credentials.pass" required spellcheck="false" type="password" />
            <div ng-messages="userLoginForm.password.$error" ng-if="userLoginForm.password.$touched && !userLoginForm.password.$valid">
              <div ng-message="required">A password is required.</div>
              <div ng-message="loginValid">The password you entered was incorrect.</div>
            </div>
          </md-input-container>

          <md-button aria-label="Log In" class="md-accent md-hue-3 md-raised" flex type="submit">
            Log In
          </md-button>

      </md-card-content>

      <md-divider></md-divider>

      <md-card-footer>
        <a href="mailto:help@bethel.io">Feedback? Need help? &nbsp;<span>Talk to us!</span></a>
      </md-card-footer>

    </md-card>

  </form>
</md-content>
