<div id="login-wrapper">
  <img src="/images/logo.png" class="logo" />
  <h2 class="title" id="page-title">Welcome Back!</h2>
  <form class="user-login-form" action="/" method="post" id="user-login-form" accept-charset="UTF-8">
    <div class="form-item form-type-textfield form-item-name">
      <i class="glyphicon glyphicon-user"></i><input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="form-control form-text" placeholder="Username" type="text" id="edit-name" name="name" value="" size="60" maxlength="60">
    </div>
    <div class="form-item form-type-password form-item-pass">
      <i class="glyphicon glyphicon-lock"></i><input class="form-control form-text" placeholder="Password" type="password" id="edit-pass" name="pass" size="60" maxlength="128">
    </div>
    <div class="form-actions form-wrapper pull-right" id="edit-actions">
      <input class="btn-md btn btn-primary button form-submit" type="submit" id="edit-submit" name="op" value="Log in">
    </div>
  </form>
</div>
