<!DOCTYPE html>
<html lang="en" ng-app="Bethel" ng-controller="AppCtrl">
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bethel</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/components/animate.css/animate.min.css">
  <link rel="stylesheet" href="/components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/styles/app.css">
  <!--STYLES END-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.bethel.io/styles/rickshaw.min.css">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.bethel.io/styles/medium-editor/medium-editor.min.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45872811-1', { 'cookieDomain': 'none' });
  </script>
</head>

<body layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-cloak ng-if="user" layout-fill>
    <md-toolbar class="md-hue-2">
      <h1 class="md-toolbar-tools">Bethel</h1>
    </md-toolbar>

    <md-content flex>
      <md-list class="md-accent md-hue-3">
        <md-list-item ng-repeat="link in navLinks" ng-click="nav(link.url)" ng-cloak>
          <md-icon md-svg-icon="icons/ic_{{ link.icon }}_24px.svg"></md-icon>
          <p>{{ link.title }}</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <div class="main-content" flex layout="column" ng-if="user" ui-view>
    <!--ANGULAR VIEW-->
  </div>

  <md-content class="main-content inverse" flex id="login" layout="row" layout-align="center center" ng-cloak ng-if="!user">
    <div flex="30" flex-sm="90" flex-md="50" flex layout="column" layout-align="center center" ng-controller="LoginController">

       <img src="https://s3.amazonaws.com/static.bethel.io/images/logo.png" />

      <md-card layout-fill id="login-signup" ng-show="authCheck == true">

        <md-card-content>
          <form name="userLoginForm" ng-submit="login(credentials)">

            <md-input-container>
              <md-icon md-svg-src="icons/ic_person_24px.svg" class="name"></md-icon>
              <input autocorrect="off" autocapitalize="off" name="email" ng-model="credentials.name" placeholder="Email" required spellcheck="false" type="email" />
              <div ng-messages="userLoginForm.email.$error" ng-if="userLoginForm.email.$touched">
                <div ng-message="required || email">A valid e-mail address is required.</div>
                <div ng-message="loginValid">No account was found with this e-mail address.</div>
              </div>
            </md-input-container>

            <md-input-container>
              <md-icon md-svg-src="icons/ic_lock_24px.svg" class="name"></md-icon>
              <input autocorrect="off" autocapitalize="off" name="password" ng-model="credentials.pass" placeholder="Password" required spellcheck="false" type="password" />
              <div ng-messages="userLoginForm.password.$error" ng-if="userLoginForm.password.$touched">
                <div ng-message="required">A password is required.</div>
                <div ng-message="loginValid">The password you entered was incorrect.</div>
              </div>
            </md-input-container>

            <div layout="row">
              <md-button aria-label="Log In" class="md-accent md-hue-3 md-raised" flex>
                Log In
              </md-button>
            </div>

          </form>
        </md-card-content>

        <md-divider></md-divider>

        <md-card-footer>
          <a class="panel-footer" href="/#/signup">New to Bethel? &nbsp;<span>Sign Up</span></a>
        </md-card-footer>

      </md-card>

    </div>
  </md-content>

  <!--SCRIPTS-->
  <script src="/concat/production.js"></script>
  <!--SCRIPTS END-->

</body>

</html>
