<!DOCTYPE html>
<html lang="en" data-ng-app="Bethel" data-ng-controller="AppCtrl" class="no-js">
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bethel</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/components/animate.css/animate.min.css">
  <link rel="stylesheet" href="/components/angular-ui-select/dist/select.min.css">
  <link rel="stylesheet" href="/components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/theme.css">
  <link rel="stylesheet" href="/styles/vjs-embed.css">
  <!--STYLES END-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.bethel.io/styles/rickshaw.min.css">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.bethel.io/styles/medium-editor/medium-editor.min.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45872811-1', { 'cookieDomain': 'none' });
  </script>
</head>

<body layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout-fill>
    <md-toolbar class="md-hue-2">
      <h1 class="md-toolbar-tools">Bethel</h1>
    </md-toolbar>

    <md-content flex>
      <md-list class="md-accent md-hue-3">
        <md-list-item ng-repeat="link in navLinks" ng-click="nav(link.url)" ng-cloak>
          <md-icon md-svg-icon="icons/ic_{{ link.icon }}_24px.svg"></md-icon>
          <p>{{ link.title }}</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <div layout="column" class="main-content" ui-view flex>
    <!--ANGULAR VIEW-->
  </div>

  <!--SCRIPTS-->
  <script src="/concat/production.js"></script>
  <!--SCRIPTS END-->

</body>

</html>
