<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" data-ng-app="Bethel" data-ng-controller="AppCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" data-ng-app="Bethel" data-ng-controller="AppCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" data-ng-app="Bethel" data-ng-controller="AppCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en" data-ng-app="Bethel" data-ng-controller="AppCtrl" class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bethel</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.min.css">
  <!--STYLES END-->
  <link rel="stylesheet" href="//s3.amazonaws.com/static.bethel.io/styles/font-awesome.min.css">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.bethel.io/styles/rickshaw.min.css">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.bethel.io/styles/medium-editor/medium-editor.min.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45872811-1', { 'cookieDomain': 'none' });
  </script>
</head>

<body data-ng-class="{ 'nav-collapsed': collapseNav }">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Bethel</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a data-ng-click="toggleNav()"><i class="fa fa-bars"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="user.name">
        <li class="dropdown" data-ng-show="ministry.name">
          <a href="" class="dropdown-toggle ministry" data-toggle="dropdown" data-ng-bind="ministry.name"></a>
          <ul class="dropdown-menu">
            <li ng-repeat="link in ::ministryLinks"><a data-ng-href="{{ link.url }}" data-ng-bind="link.title"></a></li>
          </ul>
        </li>
        <li><a href="logout" title="Log out"><i class="fa fa-sign-out"></i></a></li>
        <li class="dropdown"><a class="avatar"><img class="avatar" data-ng-src="{{ user.avatar }}" alt="{{ user.name }}" /></a></li>
      </ul>
    </div>
  </nav>

  <div class="ui viewport primary">
    <div class="ui horizontal">

      <nav class="ui column navigation" role="navigation">
        <ul id="main-menu" class="nav nav-pills nav-stacked nav-main" ngCloak>
          <li ng-repeat="link in navLinks"><a href="{{ link.url }}"><i class="fa fa-{{ link.icon }}"></i>{{ link.title }}</a></li>
        </ul>
      </nav>

      <section class="ui column page-wrap">
        <%- body %>
      </section>

    </div>
  </div>

  <div id="popover" class="modal fade"></div>

  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!--SCRIPTS-->
  <script src="/min/production.min.js"></script>
  <script src="/concat/dependencies.js"></script>
  <!--SCRIPTS END-->

  <script>
    videojs.options.flash.swf = "https://static.bethel.io/libraries/video-js/video-js.swf";
  </script>

  <!--LIBRARIES-->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 
  <script src="//s3.amazonaws.com/static.bethel.io/js/bootstrap-datepicker.js"></script>
  <script src="//s3.amazonaws.com/static.bethel.io/js/jquery.form.js"></script>
  <script src="//s3.amazonaws.com/static.bethel.io/js/jquery.typeahead.js"></script>
  <script src="//s3.amazonaws.com/static.bethel.io/js/jquery.validate.js"></script>
  <!--LIBRARIES END-->
  </body>

</html>
