<div id="focus" ng-hide="user">
  <div id="login-signup"
       ng-show="authCheck == true"
       ng-controller="LoginController"
       ng-init="invitedUser = <%= invitedUser %>"
       class="invite-form panel ng-hide"
  >
    <img src="https://s3.amazonaws.com/static.bethel.io/images/logo.png" class="logo" />
    <h2 class="title">Sign Up!</h2>
    <form class="user-form" ng-submit="signup(invitedUser)">

      <div class="form-item form-type-textfield form-item-name" ng-class="{'has-error': error.name === true}">
        <input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="form-control form-text" placeholder="First Name" type="text" ng-model="invitedUser.name" required="true">
      </div>

      <div class="form-item form-type-textfield form-item-email" ng-class="{'has-error': error.email === true}">
        <input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="form-control form-text" placeholder="E-mail" type="email" ng-model="invitedUser.email" required="true">
      </div>

      <div class="form-item form-type-password form-item-pass" ng-class="{'has-error': error.password === true}">
        <input class="form-control form-text" placeholder="Password" type="{{showPass ? 'text' : 'password'}}" ng-model="invitedUser.password" required="true">
        <div class="pass-bg">
          <a href="" ng-click="showPass = !showPass">{{showPass ? 'Hide' : 'Show'}}</a>
        </div>
      </div>

      <div class="form-item form-type-textfield form-item-inviteCode" ng-class="{'has-error': error.inviteCode === true}">
        <input class="form-control form-text" placeholder="Invite Code" type="text" ng-model="invitedUser.inviteCode" required="true">
      </div>

      <label>
        <input type="checkbox" ng-model="showPass">
        {{showPass ? 'Hide' : 'Show'}} Password
      </label>

      <button class="btn btn-lg btn-block" tabindex="3" type="submit" value="Log In">Let's Go!</button>
    </form>
  </div>
</div>
