<div id="login-signup-wrapper">
  <img src="/images/logo.png" class="logo" />
  <h2 class="title" id="page-title">Create your account</h2>
  <form class="user-form" action="/user/create" method="post" accept-charset="UTF-8">
    <div class="form-item form-type-textfield form-item-name">
      <i class="glyphicon glyphicon-envelope"></i><input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="form-control form-text" placeholder="E-mail address" type="email" name="email" value="" size="60" maxlength="60">
    </div>
    <div class="form-item form-type-password form-item-pass">
      <i class="glyphicon glyphicon-lock"></i><input class="form-control form-text" placeholder="Password" type="password" id="edit-pass" name="pass" size="60" maxlength="128">
    </div>
    <div class="form-actions form-wrapper pull-right" id="edit-actions">
      <input class="btn-md btn btn-primary button form-submit" type="submit" id="edit-submit" name="op" value="Create Account">
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
  <% if (flash && flash.err) { %>
  <div class="errors">
    <ul>
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
    <ul>
  </div>
  <% } %>
</div>
