<div id="welcome-signup">
  <img src="<%= avatar %>" />
  <h1>Welcome to Bethel!</h1>
  <form class="user-form" action="/user/update" method="post" accept-charset="UTF-8">
    <div id="welcome-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#welcome-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#welcome-carousel" data-slide-to="1"></li>
        <li data-target="#welcome-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <input autocorrect="on" autocapitalize="words" spellcheck="true" autofocus="autofocus" class="form-control form-text" placeholder="Your Name" type="text" id="edit-name" name="name" value="" size="60" maxlength="60">
        </div>
        <div class="item">
          <input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="form-control form-text" placeholder="Invite Code" type="text" id="edit-name" name="invite" value="" size="60" maxlength="60">
        </div>
        <div class="item">
          <input class="btn-lg btn btn-primary button form-submit" type="submit" id="edit-submit" name="op" value="Complete Registration">
        </div>
      </div>
      <a class="left carousel-control" href="#welcome-carousel" data-slide="prev" style="display: none;">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#welcome-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>