<div style="width: 250px; height: 400px; margin: 0 auto; margin-top: -50px; margin-bottom: -15px; overflow: hidden; position: relative;">
  <div style="background: url(https://s3.amazonaws.com/static.bethel.io/images/background.jpg) bottom right no-repeat; position: absolute; width: 211px; height: 430px; margin: 78px 20px; font-family: Helvetica Neue; color: white;">
    <img src="https://s3.amazonaws.com/static.bethel.io/images/mobile_status.png" width="200" style="position: absolute; top: 4px; left: 6px;" />
    <div class="text-center" style="margin-top: 10px;">
      <div class="clock" style="font-weight: 100; font-size: 60px;">9:40</div>
      <div class="date" style="font-size: 12px; margin-top: -12px;">Sunday 27 April</div>
    </div>
    <div class="notification-preview" style="padding: 15px;">
      <div class="app-icon" style="width: 15px; height: 15px; border-radius: 3px; background: rgb(21, 145, 181); float: left; margin-right: 5px; border: 1px solid #106982; box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;"></div>
      <div class="notification-title" style="font-size: 10px;"><b style="font-size: 110%">MyChurch </b>now</div>
      <div class="notification-body" style="margin-top: 1px; padding-left: 20px; font-size: 11px; line-height: 11px;">
        Enter your notification message
      </div>
    </div>
  </div>
  <img src="https://s3.amazonaws.com/static.bethel.io/images/mobile.png" width="250" style="position: absolute; z-index: 1;" />
</div>
<script>
  jQuery(document).ready(function($) {
    $('#pushMessage').keyup(function() {
      var pushMessage = $('#pushMessage').val();
      if (pushMessage) {
        $('div.notification-body').text(pushMessage);
      } else {
        $('div.notification-body').text('Enter your notification message');
      }
    });
  });
</script>
