<header>
  <title id="search-title"><% if (typeof term !== 'undefined' && term) { %>Search results for "<%= term %>"<% } else { %>Popular Churches<% } %></title>
</header>
<section id="results">
  <% _.each(ministries, function(ministry) { %>
  <lockup uuid="<%= ministry.id %>">
    <img src="https://images.bethel.io/images/<%= ministry.image ? ministry.image : 'DefaultPodcaster.png' %>?crop=center&amp;fit=crop&amp;w=548&amp;h=340" width="548" height="340" class="roundedImageCorners" />
    <title><%= ministry.name %></title>
  </lockup>
  <% }); %>
</section>
