<div class="content collection-edit">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="collection-title editable dark" data-ng-bind="collection.name"></h1>
      <p data-ng-bind-html="collection.description" data-placeholder="Type here to edit the description for this collection." class="collection-description editable paragraph dark"></p>
      <a class="btn btn-dark" ui-sref="media.collection({ collectionId: collection.id })"><i class="fa fa-check"></i> &nbsp; I'm Finished</a>
    </div>
    <div class="col-sm-5">
      <img class="media-thumb" data-ng-src="{{ collection | thumbnail:'302':'170' }}" alt="{{ collection.name }}" />
      <button data-ng-file-select="onFileSelect($files)" accept="image/*" class="btn btn-dark btn-lg"><i class="fa" data-ng-class="(thumbnailUploading) ? 'fa-circle-o-notch fa-spin' : 'fa-upload'"></i> &nbsp; Upload Poster Image</button>
    </div>
</div>