<div class="dash-panel-left x-small sidebar-files">
   <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#"><span class="fa-stack">
        <i class="fa fa-folder fa-stack-2x"></i>
        <i class="fa fa-cloud fa-inverse fa-stack-1x"></i>
      </span><span class="label">All Media</span></a></li>
      <li><a href="#"><span class="fa-stack">
          <i class="fa fa-folder fa-stack-2x bg" style="background-image: url('http://coastalcommunity.tv/sites/default/files/styles/event-thumb/public/events/Draw_A_Circle.jpg?itok=W-SREuUM')"></i>
        </span><span class="label">Draw a Circle</span></a><small><i class="fa fa-toggle-on"></i></small></li>
      <li><a href="#"><span class="fa-stack">
        <i class="fa fa-folder fa-stack-2x bg" style="background-image: url('http://coastalcommunity.tv/sites/default/files/styles/event-thumb/public/events/SeriesGraphic.jpg?itok=RRg65Jnp')"></i>
      </span><span class="label">Uncovered</span></a><small><i class="fa fa-toggle-on"></i></small></i></li>
      <li><a href="#"><span class="fa-stack">
        <i class="fa fa-folder fa-stack-2x"></i>
        <i class="fa fa-ticket fa-inverse fa-stack-1x"></i>
      </span><span class="label">Beach Baptism</span></a><small><i class="fa fa-toggle-off"></i></small></li>
      <li><a href="#"><span class="fa-stack">
        <i class="fa fa-folder fa-stack-2x"></i>
        <i class="fa fa-play-circle-o fa-inverse fa-stack-1x"></i>
      </span><span class="label">Archived Sermons</span></a><small><i class="fa fa-toggle-off"></i></small></li>
      <li class="dim"><a href="#"><span class="fa-stack">
        <i class="fa fa-folder fa-stack-2x"></i>
        <i class="fa fa-plus fa-inverse fa-stack-1x"></i>
      </span><span class="label">New Folder</span></a></li>
    </ul>
</div>
<div class="dash-panel-right x-large thumbnails">
  <div class="content">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg">
          <span>Kumru Ballad</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg">
          <span>Kumru Orchestral</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg">
          <span>Mesopotamia</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/OF9fneQ50Us/mqdefault.jpg">
          <span>Kreutzer</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/1swsXJuclGM/mqdefault.jpg">
          <span>Bodrum</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/WQ3Gf9PLUO8/mqdefault.jpg">
          <span>Mesopotamia</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="https://secure-b.vimeocdn.com/ts/326/392/32639200_295.jpg">
          <span>Symphony in Red</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/bYy1yKqspYs/mqdefault.jpg">
          <span>Paganini Jazz</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/zH3ZohGnjcg/mqdefault.jpg">
          <span>Kumru Ballad</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg">
          <span>Kumru Orchestral</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg">
          <span>Mesopotamia</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/OF9fneQ50Us/mqdefault.jpg">
          <span>Kreutzer</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/1swsXJuclGM/mqdefault.jpg">
          <span>Bodrum</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/WQ3Gf9PLUO8/mqdefault.jpg">
          <span>Mesopotamia</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="https://secure-b.vimeocdn.com/ts/326/392/32639200_295.jpg">
          <span>Symphony in Red</span>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="videoThumb" src="http://i1.ytimg.com/vi/bYy1yKqspYs/mqdefault.jpg">
          <span>Paganini Jazz</span>
        </a>
      </div>
    </div>
  </div>
</div>