<div class="dash-panel-right x-large">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="upload-widget" class="dropzone" data-temp-location="">
        <form action="<%= s3form.action %>" method="post" enctype="multipart/form-data">
          <input type="hidden" name="key" value="<%= s3form.bucket %>/${filename}" />
          <input type="hidden" name="AWSAccessKeyId" value="<%= s3form.key %>" />
          <input type="hidden" name="acl" value="public-read" />
          <input type="hidden" name="policy" value="<%= s3form.policy %>" />
          <input type="hidden" name="success_action_status" value="201" />
          <input type="hidden" name="signature" value="<%= s3form.signature %>" />
          <div id="file-upload">
            <div id="dropzone">
              <div class="tag"><i class="fa fa-cloud-upload"></i></div>
              <span class="btn btn-primary fileinput-button">
                <span>Select file to upload</span>
                <input id="fileupload" type="file" name="file" />
              </span><br />
              <small style="font-size: 13px;">or drag and drop a file here!</small>
              <div class="progress progress-striped active" style="display: none;">
                <div class="progress-bar" role="progressbar" style="width: 100%;">Uploading...</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>