<div class="dash-panel-right x-large media-detail">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img class="media-thumb" data-ng-src="{{ thumbnailForMediaWithSize(media, '604x340') }}" alt="{{ media.filename }}" />
      <div class="panel-heading media-title">
        <h1 class="panel-title" data-ng-bind="media.title || media.filename"></h1>
      </div>
      <div class="content">
        <tags-input ng-model="tags" placeholder="Enter tags separated by commas." on-tag-added="updateTags($tag, 'added')" on-tag-removed="updateTags($tag, 'removed')"></tags-input>
        <p data-ng-bind-html="media.description" data-placeholder="Type here to edit the description for this file." class="media-description"></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">File Details</h2>
          </div>
          <div class="panel-body full">
            <table class="table table-hover">
              <tr>
                <td>Uploaded</td>
                <td style="vertical-align:middle;text-align:right;" data-am-time-ago="media.createdAt"></td>
              </tr>
              <tr>
                <td>Changed</td>
                <td style="vertical-align:middle;text-align:right;" data-am-time-ago="media.updatedAt"></td>
              </tr>
              <tr>
                <td>Type</td>
                <td style="vertical-align:middle;text-align:right;" data-ng-bind="media.type.capitalize()"></td>
              </tr>
              <tr>
                <td>Size</td>
                <td style="vertical-align:middle;text-align:right;"></td>
              </tr>
              <tr>
                <td>Duration</td>
                <td style="vertical-align:middle;text-align:right;"></td>
              </tr>
              <tr>
                <td>Resolution</td>
                <td style="vertical-align:middle;text-align:right;"></td>
              </tr>
            </table>
          </div>
        </div>
        <a class="btn btn-block btn-lg" data-ng-href="http://cloud.bethel.io/media/{{ media.ministry.id }}/{{ media.id }}/original.{{ media.extension }}"><i class="fa fa-download"></i> &nbsp; Download Original</a>
      </div>
    </div>
  </div>
</div>