<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Select an account to connect with Bethel...</h4>
    </div>
    <div class="modal-body text-center">
      <a href="/service/vimeo"><img typeof="foaf:Image" src="https://s3.amazonaws.com/static.bethel.io/images/services/vimeo.png" /></a>
    </div>
  </div>
</div>
