<div class="modal-header">
  <h3 class="modal-title" data-ng-bind="media.name"></h3>
</div>
<audio id="media-player" class="video-js vjs-sublime-skin vjs-podcast-skin" data-ng-src="{{ media.url }}"></audio>
<div class="modal-body podcast-media">
  <div class="row">
    <div class="col-sm-6">
      <datepicker data-ng-model="media.date" show-weeks="false" class="date well well-sm"></datepicker>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label data-ng-bind="'PODCAST.MEDIA.TITLE' | translate"></label>
        <input type="text" class="form-control" placeholder="{{ 'PODCAST.MEDIA.TITLE' | translate }}" data-ng-model="media.name" />
      </div>
      <div class="form-group">
        <label><small data-ng-bind="'PODCAST.MEDIA.DESCRIPTION' | translate"></small></label>
        <textarea class="form-control" rows="3" placeholder="{{ 'PODCAST.MEDIA.DESCRIPTION_HELP' | translate }}" data-ng-model="media.description"></textarea>
      </div>
      <div class="form-group" data-ng-if="ministry.url">
        <label><small data-ng-bind="'PODCAST.MEDIA.PLAYER' | translate"></small></label>
        <input type="text" class="form-control" placeholder="{{ 'PODCAST.MEDIA.PLAYER_HELP' | translate }}" data-ng-model="media.reference" typeahead="series for series in getSeries($viewValue)" />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" data-ng-click="save()">Save Changes</button>
</div>