<div class="ui column light">

  <div class="panel-heading">
    <div class="pull-right">
      <div class="search-box">
        <i class="fa fa-search"></i>
        <input class="form-control" placeholder="Search" ng-model="searchText">
      </div>
    </div>
    <ul class="nav nav-pills">
      <li data-ng-class="{ 'active': selectedStaffSection == 'users' }"><a ui-sref=".users" class="panel-title">People</a></li>
      <li data-ng-class="{ 'active': selectedStaffSection == 'ministries' }"><a ui-sref=".ministries">Ministries</a></li>
    </ul>
  </div>

  <div data-ui-view class="panel-body"></div>

</div>
