<md-toolbar aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2>Live Streaming</h2>
  </div>
</md-toolbar>

<md-subheader class="banner warning">
  Bethel's one-click live streaming is still under development; if you already have your own live streaming service you may input your schedule below.
</md-subheader>

<md-content class="main-content" layout-padding layout="column" flex layout-align="center center" ng-controller="streamingController">

  <div class="week-row" layout="row" layout-align="center center" layout-fill>
    <md-card ng-class="setting.enabled ? 'flex-15' : 'flex-10'" ng-repeat="(day, setting) in streamingEnabled">
      <md-card-content>
        <h3 class="light" ng-if="!setting.enabled">{{ day[0].toUpperCase() }}</h3>
        <h2 class="light" ng-if="setting.enabled" style="margin-bottom:0px">{{ day[0].toUpperCase() }}</h2>
        <md-switch class="md-primary" ng-model="setting.enabled"></md-switch>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="center center" ng-if="setting.enabled">
        <md-button ng-click="configure($event, day)">Manage Times</md-button>
      </div>
    </md-card>
  </div>

</md-content>
