.week-row {
  md-card[flex="10"],
  md-card[flex="15"] {
    position: relative;
    md-switch {
      position: absolute;
      right: -5px;
      top: 26px;
    }
  }

  md-card[flex="15"] md-switch {
    top: 40px;
  }
}
