.week-row {
  md-card.flex-10,
  md-card.flex-15 {
    position: relative;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    md-switch {
      position: absolute;
      right: -5px;
      top: 26px;
    }
  }

  md-card.flex-15 md-switch {
    top: 40px;
  }
}

md-whiteframe.media-playlist {
  .standalone .md-list-item-text {
    opacity: 0.5;
  }
  .media-type {
    min-width: 60px;
    margin-right: 10px;
    md-icon {
      margin-right: 6px;
    }
  }
  h3 {
    line-height: normal !important;
    overflow: hidden;
    white-space: nowrap;
  }
}

.media-playlist-tools {
  .md-subheader:nth-of-type(2) {
    margin-top: 30px;
  }
  ul {
    padding-left: 30px;
    li {
      margin: 8px 0;
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
