<div layout="row" ng-controller="mobileMediaController" layout-margin style="padding:8px">
  <md-whiteframe class="md-whiteframe-1dp media-playlist" layout="column" layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Sermon Series</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Add Sermon Series">
          <md-icon>add</md-icon>
        </md-button>
        <md-button aria-label="Playlist Settings" class="md-icon-button" ng-class="{ 'md-primary': playlistSettings }" ng-click="playlistToggle()">
          <md-icon>settings</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="settings-drawer" ng-show="playlistSettings">
      <div layout="row">
        <div flex="33" layout="column" layout-align="center center">
          <md-icon class="bucket">headset</md-icon>
          <md-input-container style="margin-top:0">
            <md-select ng-model="playlist.podcastAudio.id" placeholder="Connect">
              <md-option ng-repeat="podcast in podcasts" value="{{ podcast.id }}" ng-show="{{ podcast.type == 1 }}">{{ podcast.name }}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex="33" layout="column" layout-align="center center">
          <md-icon class="bucket">ondemand_video</md-icon>
          <md-input-container style="margin-top:0">
            <md-select ng-model="playlist.podcastVideo.id" placeholder="Connect">
              <md-option ng-repeat="podcast in podcasts" value="{{ podcast.id }}" ng-show="{{ podcast.type == 2 }}">{{ podcast.name }}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex="33" layout="column" layout-align="center center">
          <md-icon class="bucket">language</md-icon>
          <p style="margin-top:0;margin-bottom:24px">Languages Coming Soon</p>
        </div>
      </div>
      <md-divider></md-divider>
    </div>
    <md-list>
      <md-subheader class="md-warn" ng-if="!playlist.podcastVideo.id">Connect a video podcast for AppleTV compatibility.</md-subheader>
      <md-list-item class="md-2-line" ng-class="item.media ? 'playlist' : 'standalone'" ng-click="editSeries()" ng-repeat="item in media">
        <img ng-if="item.media" src="https://images.bethel.io/images/{{ item.image ? item.image : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=100&amp;h=60" style="padding-right:16px" />
        <div ng-if="item.type || item.audio || item.video" class="media-type">
          <md-icon ng-if="item.type == 'audio' || item.audio">headset</md-icon>
          <md-icon ng-if="item.type == 'video' || item.video">ondemand_video</md-icon>
        </div>
        <div class="md-list-item-text">
          <h3>{{ item.name }}</h3>
          <p ng-if="item.date">{{ item.date | date : 'MMM d, yyyy' }}</p>
          <p ng-if="item.media">{{ item.dateStart | date : 'MMM d, yyyy' }} - {{ item.dateEnd | date : 'MMM d, yyyy' }} ({{ item.media.length }} Episodes)</p>
        </div>
        <md-button class="md-mini md-primary" ng-click="editSeries()" ng-if="!item.media">Add Sermon Series</md-button>
        <md-button class="md-mini md-primary" ng-click="editSeries()" ng-if="item.media">Edit</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-whiteframe>
</div>
