<div layout="row" ng-controller="mobileMediaController">
  <div flex="60" layout-padding>
    <md-subheader class="md-no-sticky">Sermon Series</md-subheader>
    <md-whiteframe class="md-whiteframe-z1 media-playlist" layout>
      <md-list layout-fill>
        <md-list-item ng-if="media.length < 1">
          Connect an audio or video podcast to the right to get started...
        </md-list-item>
        <md-list-item class="md-2-line" ng-class="item.media ? 'playlist' : 'standalone'" ng-click="editSeries()" ng-repeat="item in media">
          <img ng-if="item.media" src="https://images.bethel.io/images/{{ item.image ? item.image : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=100&amp;h=60" style="padding-right:16px" />
          <div class="media-type">
            <md-icon ng-if="item.type == 'audio' || item.audio">headset</md-icon>
            <md-icon ng-if="item.type == 'video' || item.video">ondemand_video</md-icon>
          </div>
          <div class="md-list-item-text">
            <h3>{{ item.name }}</h3>
            <p ng-if="item.date">{{ item.date | date : 'MMM d, yyyy' }}</p>
            <p ng-if="item.media">{{ item.dateStart | date : 'MMM d, yyyy' }} - {{ item.dateEnd | date : 'MMM d, yyyy' }} ({{ item.media.length }} Episodes)</p>
          </div>
          <md-button class="md-mini md-primary" ng-click="editSeries()" ng-if="!item.media">Add Sermon Series</md-button>
          <md-button class="md-mini md-primary" ng-click="editSeries()" ng-if="item.media">Edit</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-whiteframe>
  </div>
  <div flex="40" layout-padding>
    <md-subheader class="md-no-sticky">Playlist Media</md-subheader>
    <md-whiteframe class="md-whiteframe-z1" layout layout-padding>
      <md-list>
        <md-list-item>
          <md-icon>headset</md-icon>
          <p><span ng-if="!playlist.podcastAudio">Audio</span></p>
          <md-input-container style="margin-top:19px">
            <md-select ng-model="playlist.podcastAudio.id" placeholder="Connect">
              <md-option ng-repeat="podcast in podcasts" value="{{ podcast.id }}" ng-show="{{ podcast.type == 1 }}">{{ podcast.name }}</md-option>
            </md-select>
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <md-icon>ondemand_video</md-icon>
          <p><span ng-if="!playlist.podcastVideo">Video</span></p>
          <md-input-container style="margin-top:19px">
            <md-select ng-model="playlist.podcastVideo.id" placeholder="Connect">
              <md-option ng-repeat="podcast in podcasts" value="{{ podcast.id }}" ng-show="{{ podcast.type == 2 }}">{{ podcast.name }}</md-option>
            </md-select>
          </md-input-container>
        </md-list-item>
        <md-list-item ng-click="connect()" ng-disabled="true">
          <md-icon>language</md-icon>
          <p>Alternate Languages</p>
          <md-button ng-disabled="true">Coming Soon</md-button>
        </md-list-item>
      </md-list>
    </md-whiteframe>
  </div>
</div>
