<img ng-src="{{ ministry.coverImage | imageResize : 960 : 180 : 'default_poster.jpg' }}" style="margin-top:16px" />
<md-button ngf-select="uploadCover($files)" accept="image/png,image/jpg,image/jpeg">Change Cover Image (1920x360)</md-button>

<div layout="row" layout-align="center center">
  <md-input-container flex>
    <label>Ministry Name</label>
    <input ng-model="ministry.name" ng-disabled="true" />
  </md-input-container>
  <md-button href="#/settings/ministry">Edit Name and Bio</md-button>
</div>

<md-input-container>
  <label>Subtitle or Current Series</label>
  <input ng-model="ministry.subtitle" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
</md-input-container>

<div layout="row">
  <md-input-container flex="30">
    <label>Primary</label>
    <input type="text" ng-model="ministry.color.primary" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
    <div class="color-picker" style="top:5px;background-color:{{ ministry.color.primary }}"></div>
  </md-input-container>

  <md-input-container flex="30" style="margin-left:20px">
    <label>Secondary</label>
    <input type="text" ng-model="ministry.color.secondary" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
    <div class="color-picker" style="top:5px;background-color:{{ ministry.color.secondary }}"></div>
  </md-input-container>

  <md-input-container flex="40" style="margin-left:20px">
    <label>Background</label>
    <input type="text" ng-model="ministry.color.channelBackground" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
    <div class="color-picker" style="top:5px;background-color:{{ ministry.color.channelBackground }}"></div>
  </md-input-container>
</div>
