<div layout="row" ng-controller="visualsController">
  <div flex="60">
    <md-card>
      <img ng-src="{{ ministry.poster | imageResize : 1200 : 650 : 'default_poster.jpg' }}">
      <md-card-content style="margin-top:-150px;">
        <img ng-src="{{ ministry.image | imageResize : 200 : 200 : 'DefaultPodcaster.png' }}" alt="{{ ministry.name }}" style="float:left;margin-right:20px;" />
        <h2 style="margin-top:97px;color:#FFF">{{ ministry.name }}</h2>
        <md-button class="md-raised" style="margin-left:0;">Change Ministry Logo</md-button>
        <md-button class="md-raised">Update Cover Image</md-button>
      </md-card-content>
      <md-card-content>
        <md-input-container>
          <label>Ministry Subtitle</label>
          <input ng-model="ministry.subtitle" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
        </md-input-container>
        <md-input-container>
          <label>Ministry Description</label>
          <textarea ng-model="ministry.description" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" columns="1" rows="3" md-maxlength="4000"></textarea>
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>
  <div flex="40">
    <md-card>
      <md-card-content>
        <h3 class="light" style="margin-bottom:0;">Icons and Colors</h3>
      </md-card-content>
      <md-list>
        <md-list-item>
          <p>Brand Colors</p>
          <div style="width:30px;height:30px;background:#106982;border-radius:15px;margin-right: 4px;"></div>
          <div style="width:30px;height:30px;background:#1591b5;border-radius:15px"></div>
        </md-list-item>
        <md-list-item>
          <p>Channel Icon (AppleTV)</p>
          <img src="/images/devices/tvos-icon.png" style="width:67px;border-radius:5px" />
        </md-list-item>
        <md-divider style="margin-top:20px"></md-divider>
        <md-list-item>
          <p><em>Enable stand-alone app to customize?</em></p>
          <md-switch class="md-primary" style="margin-right:0"></md-switch>
        </md-list-item>
        <md-list-item style="opacity:0.6">
          <p>iPhone and iPad</p>
          <img src="/images/devices/ios-icon.png" style="width:40px;border-radius:10px" />
        </md-list-item>
        <md-list-item style="opacity:0.6">
          <p>AppleTV</p>
          <img src="/images/devices/tvos-icon.png" style="width:67px;border-radius:5px" />
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>
