<div layout="row" ng-controller="visualsController">
  <div flex="60" layout-padding>
    <md-card>
      <md-card-content layout="column">
        <md-input-container>
          <label>Ministry Name</label>
          <input ng-model="ministry.name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
        </md-input-container>
        <md-input-container>
          <label>Subtitle or Current Series</label>
          <input ng-model="ministry.subtitle" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
        </md-input-container>
        <md-input-container>
          <label>About Your Ministry</label>
          <textarea ng-model="ministry.description" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" columns="1" rows="5"></textarea>
        </md-input-container>
      </md-card-content>
      <div layout="row" layout-padding>
        <md-input-container flex="30">
          <label>Brand Primary</label>
          <input type="text" ng-model="ministry.color.primary" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
          <div class="color-picker" style="top:8px;background-color:{{ ministry.color.primary }}"></div>
        </md-input-container>

        <md-input-container flex="30" style="margin-left:20px">
          <label>Brand Secondary</label>
          <input type="text" ng-model="ministry.color.secondary" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
          <div class="color-picker" style="top:8px;background-color:{{ ministry.color.secondary }}"></div>
        </md-input-container>

        <md-input-container flex="40" style="margin-left:20px">
          <label>Channel Background</label>
          <input type="text" ng-model="ministry.color.channelBackground" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
          <div class="color-picker" style="top:8px;background-color:{{ ministry.color.channelBackground }}"></div>
        </md-input-container>
      </div>
    </md-card>
  </div>
  <div flex="40" layout-padding>
    <md-card class="mobile-preview-tvos">
      <img ng-src="{{ ministry.poster | imageResize : 960 : 180 : 'default_poster.jpg' }}">
      <md-card-content style="background-color:{{ ministry.color.channelBackground || '#292929' }};height:160px;">
        <h4 class="title">{{ ministry.name }}</h4>
        <p>{{ ministry.subtitle }}</p>
        <h4>Most Recent</p>
        <div class="tile-lockup">
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
        <h3 class="light" style="margin-bottom:0;text-align:center;">AppleTV Preview</h3>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="center center">
        <md-list layout-fill>
          <md-list-item class="md-2-line" ng-click="upload()">
            <div class="md-list-item-text">
              <h3>Cover Image</h3>
              <p>Displayed on your channel page</p>
            </div>
            <img ng-src="{{ ministry.poster | imageResize : 77 : 43 : 'default_poster.jpg' }}" style="width:77px;" />
          </md-list-item>
          <md-list-item class="md-2-line" ng-click="upload()">
            <div class="md-list-item-text">
              <h3>Channel Icon</h3>
              <p>Shown in search results and favorites</p>
            </div>
            <img src="/images/devices/tvos-icon.png" style="width:77px;border-radius:5px" />
          </md-list-item>
          <md-list-item class="md-2-line">
            <md-icon>layers</md-icon>
            <div class="md-list-item-text">
              <h3>3D Parallax Icon</h3>
              <p>Enhanced channel and series icons</p>
            </div>
            <md-switch class="md-primary" style="margin-right:0"></md-switch>
          </md-list-item>
          <md-list-item class="md-2-line">
            <md-icon>smartphone</md-icon>
            <div class="md-list-item-text">
              <h3>Standalone App</h3>
              <p>Your own private app in the App Store</p>
            </div>
            <md-switch class="md-primary" style="margin-right:0"></md-switch>
          </md-list-item>
        </md-list>
      </div>
    </md-card>
    <md-subheader class="md-no-sticky">Stay tuned for iOS and Android coming soon!</md-subheader>
    </md-card>
  </div>
</div>
