
module.exports = {
  connections: {
    mongo: {
      module   : 'sails-mongo',
      url      : 'mongodb://mybethel@localhost/mybethel',
      schema   : true
    }
  },
  session: {
    adapter    : 'mongo',
    collection : 'sessions',
    url        : 'mongodb://mybethel@localhost/mybethel'
  },
  log: {
    level: 'verbose'
  }
}