.navbar {
  border: 0;

  .navbar-brand {
    background: url(https://s3.amazonaws.com/static.bethel.io/images/logo.png) 0 13px no-repeat;
    background-size: contain;
    text-indent: -9999px;
  }
  .fa {
    font-size: 20px;
  }
  img.avatar {
    border-radius: 50%;
  }
}

.ui {
  &.column.dark {
    background: @dark-color-medium;
    color: white;

    .panel-default {
      border-color: #222;
      background: #222;
    }
    .panel-heading {
      background: #222;
      border-color: #222;
      color: white;
    }
    .panel-body {
      background: #2F3439;
      &.dark {
        background: #222;
      }
    }
    table {
      td {
        border-color: rgba(255,255,255,0.04);
        background-color: transparent;
        -webkit-transition: background-color .3s ease-in-out;
        -moz-transition: background-color .3s ease-in-out;
        -o-transition: background-color .3s ease-in-out;
        -ms-transition: background-color .3s ease-in-out;
        transition: background-color .3s ease-in-out;
      }
      tr {
        &:hover {
          background-color: rgba(255,255,255,0.04) !important;
        }
        &:first-child td {
          border: 0;
        }
      }
    }
  }
}

#focus {
  background-color: #106982;
  background-image: -webkit-radial-gradient(0% bottom,rgba(21,145,181,0.7) 0,rgba(21,145,181,0) 60%),-webkit-radial-gradient(50% top,rgba(21,145,181,0.6) 0,rgba(21,145,181,0) 75%);
  background-image: radial-gradient(0% bottom,rgba(21,145,181,0.7) 0,rgba(21,145,181,0) 60%),radial-gradient(50% top,rgba(21,145,181,0.6) 0,rgba(21,145,181,0) 75%);
  background-size: auto,auto,100% 1000px,100% 1000px;
  background-repeat: no-repeat;
}

.dash-panel-right {
  .control-label {
    font-weight: normal;
    color: #999;
  }
}