h1.light,
h2.light,
h3.light, {
  color: #5c5c5c;
  font-weight: 300;
  letter-spacing: -0.02em;
}

h1.light {
  font-size: 2.5em;
  line-height: 3em;
}

h2.light {
  font-size: 2em;
  line-height: 1.5em;
}

h3.light {
  font-size: 1.5em;
  line-height: 1em;
}

button.md-primary.strong {
  font-size: 14px;
  font-weight: 500;
}
