body,
md-content.main-content,
md-list.md-default-theme md-list-item div button {
  background-color: #f4f6f8;
}

.main-content.inverse {
  background-color: #106982;
  background-image: -webkit-radial-gradient(0% bottom,rgba(21,145,181,0.7) 0,rgba(21,145,181,0) 60%),-webkit-radial-gradient(50% top,rgba(21,145,181,0.6) 0,rgba(21,145,181,0) 75%);
  background-image: radial-gradient(0% bottom,rgba(21,145,181,0.7) 0,rgba(21,145,181,0) 60%),radial-gradient(50% top,rgba(21,145,181,0.6) 0,rgba(21,145,181,0) 75%);
  background-size: auto,auto,100% 1000px,100% 1000px;
  background-repeat: no-repeat;
}

top-nav {
  .logo {
    margin-right: 60px;
  }
  .md-toolbar-tools {
    padding-right: 0;
  }
}

md-tabs {
  .md-tab.md-active {
    md-icon {
      color: @brand-color;
    }
  }
  md-tabs-canvas {
    background: #FFF;
  }
  md-content {
    background: transparent !important;
  }
  &.tall {
    md-tabs-canvas,
    md-tab-item,
    md-pagination-wrapper {
      height: 64px;
    }
    md-tabs-content-wrapper {
      top: 65px !important;
    }
    .md-tab {
      padding-top: 20px;
    }
  }
}

@media (min-width: 960px) {
  md-dialog  {
    margin-left: 220px;
  }
}

md-sidenav.md-sidenav-left {
  background-color: rgb(33,33,33);
  width: 220px !important;
  min-width: 220px !important;
  md-list-item {
    button {
      border-radius: 0;
      color: #AAA;
      md-icon {
        color: #DDD;
      }
    }
    &:hover button,
    &.active button {
      color: #DDD;
      background-color: rgba(255,255,255,0.1) !important;
      md-icon {
        text-shadow: 0px 1px 2px #000;
        color: #FFF;
      }
    }
  }
  h1.md-toolbar-tools {
    background: url(/images/logo-landscape.svg) 14px center no-repeat;
    background-size: 150px;
    text-indent: -9999px;
  }
  md-content {
    background-color: rgb(33,33,33);
  }
  md-list.md-default-theme md-list-item button {
    background: transparent;
  }
}

a.md-button,
button.md-button {
  &.muted {
    color: #666 !important;
  }
  &.bucket {
    background-color: #f6f6f6 !important;
    color: #666;
    padding: 16px 0;
    md-icon {
      display: block;
      height: 50px;
      width: 50px;
    }
  }
}

md-icon.bucket {
  font-size: 50px;
  width: 50px;
  height: 50px;
}

// Overriding md-button style to force wrapping
a.md-button.button-wrap {
  white-space: normal;
  line-height: 20px;
  min-height: 0px;
  padding: 8px 6px;
}

h2.md-subheader {
  background-color: transparent;
}

.md-subheader {
  background-color: transparent;
}

.md-toolbar-item i {
  margin-top: 4px;
}
md-toolbar .avatar {
  margin-right: -20px;
}

section.main-content {
  .md-toolbar-tools {
    .md-button.md-default-theme.md-icon-button {
      border-radius: 50%;
      fill: #fff;
    }
  }
}

.layout-content {
  margin: 9px;
  box-sizing: border-box;
}

md-card.getting-started {
  md-card-content {
    text-align: center;
  }
}

md-dialog {
  .md-actions {
    background: #f4f6f8;
  }
}

md-dialog.wizard {
  h1 {
    font-weight: 200;
    text-align: center;
    margin: 30px 0 0;
  }
  p {
    margin: 10px 0 20px;
    text-align: center;
  }
  md-dialog-content > div {
    margin-top: 30px;
  }
  md-input-container.primary {
    font-size: 1.3em;
    margin-left: 10%;
    margin-top: 15px;
    width: 80%;
  }
  .md-subheader-inner {
    padding: 0;
  }
}

.md-subheader.compact .md-subheader-inner {
  padding-bottom: 0;
}

md-card[ng-click]:hover {
  cursor: pointer;
}

md-whiteframe {
  background: #FFF;
}

md-backdrop.md-dialog-backdrop.md-default-theme.md-opaque {
  background: rgba(0,0,0,0.4);
}

.clickable-row {
  cursor: pointer;

  &:hover {
    background-color: #e1e1e1;
  }
}

.clickable {
  cursor: pointer;
}

md-fab-speed-dial {
  md-fab-trigger button {
    font-size: 40px !important;
  }

  md-fab-actions button {
    font-size: 40px !important;
  }
}

md-input-container .md-input[disabled] {
  color: rgba(0, 0, 0, 0.54);
}

.teaser {
  margin-bottom: -11px;
  & > div {
    padding-left: 10px;
  }
  .illustration {
    img {
      max-width: 100%;
      position: relative;
      z-index: -1;
    }
  }
}

md-whiteframe > md-toolbar {
  background-color: #FFF !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  .md-toolbar-tools {
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    .md-button md-icon {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

md-whiteframe .settings-drawer {
  background-color: #f0f0f0;
  padding-top: 18px;
}
