body,
md-content.md-default-theme,
md-list.md-default-theme md-list-item button {
  background-color: #f4f6f8;
}

md-sidenav {
  background-color: rgb(33,33,33);
  width: 220px !important;
  min-width: 220px !important;
  h1.md-toolbar-tools {
    background: url(https://s3.amazonaws.com/static.bethel.io/images/logo.png) 14px center no-repeat;
    background-size: 150px;
    text-indent: -9999px;
  }
  button.md-button.md-default-theme {
    border-radius: 0;
    color: #aaa;
    md-icon {
      fill: #ddd;
    }
  }
}

section.main-content {
  .md-toolbar-tools {
    .md-button.md-default-theme.md-icon-button {
      border-radius: 50%;
      fill: #fff;
    }
  }
}

md-dialog.wizard {
  md-input-container {
    font-size: 1.3em;
  }
}

md-card[ng-click]:hover {
  cursor: pointer;
}
