@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300);

//
// Bethel Brand Colors
// --------------------------------------------------

@brand-color: #1591b5;
@brand-color-dark: #106982;

@dark-color: #222;
@dark-color-medium: #2F3439;

@light-color: #222;
@light-color-medium: #e8e8e8;
