@import "_variables.less";

@import "bootstrap/less/bootstrap.less";
@import "bootstrap/less/theme.less";

@import "libraries/medium-editor.less";

@import "_structure.less";
@import "_theme.less";

@import "features/media.less";

#focus {
  background-color: #106982;
  background-image: -webkit-radial-gradient(0% bottom,rgba(21,145,181,0.7) 0,rgba(21,145,181,0) 60%),-webkit-radial-gradient(50% top,rgba(21,145,181,0.6) 0,rgba(21,145,181,0) 75%);
  background-image: radial-gradient(0% bottom,rgba(21,145,181,0.7) 0,rgba(21,145,181,0) 60%),radial-gradient(50% top,rgba(21,145,181,0.6) 0,rgba(21,145,181,0) 75%);
  background-size: auto,auto,100% 1000px,100% 1000px;
  background-repeat: no-repeat;
  left: -200px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 99;
}

.dash-panel-right {
  .control-label {
    font-weight: normal;
    color: #999;
  }
  .panel-body {
    form.form-horizontal {
      margin-bottom: -15px;
    }
  }
}
