#statistics-panel h3 {
  line-height: 20px;
}

#statistics-panel h3 .change-count {
  font-size: 120%;
}

#statistics-panel h3 small {
  font-size: 55%;
}

#statistics-panel .col-sm-8 {
  padding-left: 0;
}
