.podcast-list {
  margin-top: -38px;
}

.podcast-list th,
.podcast-list td {
  text-align: center;
}

.podcast-list td {
  vertical-align: middle !important;
}

.podcast-list .thumb {
  padding-left: 0;
  width: 100px;
}

.podcast-list .title {
  text-align: left;
  font-size: 20px;
}

.podcast-list .subscribers {
  width: 130px;
}

.podcast-list .operations {
  width: 120px;
}

.podcast-media {
  margin-bottom: 0;
}

.podcast-media tr:first-child td {
  border-top: none;
}

.podcast-media td.operations {
  vertical-align: middle;
  width: 80px;
  text-align: right;
}

.podcast-media-edit td {
  padding: 0 !important;
  border-top: 0 !important;
}

.podcast-media-edit td form {
  padding: 8px;
  padding-top: 23px;
  display: none;
}

#upload-widget #dropzone {
  text-align: center;
}

#upload-widget.dropzone #dropzone {
  position: relative;
  border: 5px dashed #FFF;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  margin: 50px auto;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
}

#dropzone .tag {
  display: none;
}

#upload-widget.dropzone #dropzone .tag {
  display: block;
  padding-top: 50%;
  margin-top: -60px;
  height: 120px;
}

#upload-widget .progress,
#upload-widget.dropzone img.thumbnail-sidebar {
  display: none;
}

#dropzone .tag .fa {
  font-size: 100px;
  margin-bottom: -20px;
  opacity: 0.2;
}

#upload-widget #dropzone .fileinput-button {
  margin-top: -100px;
}

#upload-widget.dropzone #dropzone .fileinput-button {
  margin-top: 100px;
}

#upload-widget.dropzone #dropzone .progress {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

#actions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #222;
  padding: 20px;
}

#actions.actions-top {
  position: relative;
}

.dash-panel-left .panel-top {
  margin-top: 20px;
}

.dash-panel-left .panel-bottom {
  margin-bottom: 0;
}

.dash-panel-right img.thumbnail-sidebar {
  width: 100%;
}
