.podcast-list {
  margin-top: -38px;
}

.podcast-list th,
.podcast-list td {
  text-align: center;
}

.podcast-list td {
  vertical-align: middle !important;
}

.podcast-list .thumb {
  padding-left: 0;
  width: 100px;
}

.podcast-list .title {
  text-align: left;
  font-size: 20px;
}

.podcast-list .subscribers {
  width: 130px;
}

.podcast-list .operations {
  width: 120px;
}

#dropzone {
  position: relative;
  border: 5px dashed #FFF;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  margin: 50px auto;
  font-weight: 100;
  text-align: center;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
}

#dropzone .tag {
  padding-top: 50%;
  margin-top: -60px;
  height: 120px;
}

#dropzone .tag .fa {
  font-size: 100px;
  margin-bottom: -20px;
  opacity: 0.2;
}

#actions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #222;
  padding: 20px;
}

#actions.actions-top {
  position: relative;
}

.dash-panel-left .panel-top {
  margin-top: 20px;
}

.dash-panel-left .panel-bottom {
  margin-bottom: 0;
}

.dash-panel-right img.thumbnail-sidebar {
  width: 100%;
}
