.nav-collapsed ul.nav-main {
  width: 58px;
}

ul.nav-main li {
  margin-top: 0;
  white-space: nowrap;
  border-bottom:1px solid rgba(255,255,255,0.04);
}

ul.nav-main li:hover {
  background: rgba(255,255,255,0.04);
}

ul.nav-main li a {
  color: rgba(255,255,255,1);
  font-weight: 300;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

ul.nav-main li a:focus {
  background: none;
}

.nav-collapsed ul.nav-main li a {
  color: rgba(255,255,255,0);
}

ul.nav-main li a {
  padding: 15px 25px 16.9px 48px; 
}

ul.nav-main li.active a:hover,
ul.nav-main li a:hover {
  background: transparent;
}

ul.nav-main li.active a {
  font-weight: 700;
  background: transparent;
}

ul.nav-main li.active:after {
  content: " ";
  display: block;
  width: 0; 
  height: 0; 
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-right:7px solid #f4f6f8; 
}

ul.nav-main li a .fa {
  color: #FFF;
  position: absolute;
  left: 18px;
  padding-right: 10px;
  font-size: 18px;
}

.nav-collapsed ul.nav-main li a .fa {
  color: #FFF;
}

ul.nav-main li a .fa.fa-microphone {
  left: 20px;
}

ul.nav-main li a .fa.fa-mobile {
  left: 20px;
  margin-top: -2px;
  font-size: 25px;
}

ul.nav-main li a .fa.fa-users,
ul.nav-main li a .fa.fa-video-camera,
ul.nav-main li a .fa.fa-money {
  font-size: 16px;
}

ul.nav-main li a .fa.fa-video-camera,
ul.nav-main li a .fa.fa-money {
  margin-top: 1px;
}

ul.nav-main span {
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  position: relative;
  white-space: nowrap; 
  padding: 15px 25px 16.9px 18px; 
}

ul.nav-main.nav-bottom {
  position: absolute;
  bottom: 0;
}

section.page-wrap {
  background: #f4f6f8;
  min-height: 100%;
  position: relative;
  -webkit-transition: margin-left .7s ease-in-out;
  -moz-transition: margin-left .7s ease-in-out;
  -o-transition: margin-left .7s ease-in-out;
  -ms-transition: margin-left .7s ease-in-out;
  transition: margin-left .7s ease-in-out;
}

.welcome section.page-wrap {
  background: transparent;
}

section.page-wrap .dash-panel-full {
  padding: 20px;
}

section.page-wrap .dash-panel-left {
  padding: 20px;
  width: 60%;
}

section.page-wrap .dash-panel-left.small {
  width: 40%;
}

section.page-wrap .dash-panel-left.x-small {
  width: 20%;
}

.nav-collapsed section.page-wrap {
  margin-left: 58px;
}

section.page-wrap h1 {
  margin-top: 0;
  font-weight: 300;
}

section.page-wrap h1 .btn {
  margin-top: -5px;
  margin-left: 10px
}

.panel-body {
  margin-right: -1px;
}

.panel-body.full {
  padding: 0;
}

a.btn-panel {
  padding: 3px 8px;
  position: absolute;
  top: 6px;
  right: 2px;
  color: #aaa;
}

a.btn-panel:hover {
  color: #333;
}

#locations-canvas,
.angular-google-map-container,
map {
  display:block;
  height: 200px;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 400px;
}

.search-box i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.breadcrumb {
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #C5C5C5;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb a, .breadcrumb .active {
  font-size: 20px;
}

.breadcrumb i {
  margin: 4px 10px 0px 10px;
}
