@import url(http://fonts.googleapis.com/css?family=Lato:700,300,100);

body {
  padding: 0 !important;
  background: #2F3439;
  font-family: 'Lato', sans-serif;
}

body.front {
  background: url(../images/background.jpg) no-repeat center center fixed #2F3439;
  background-size: cover;
  background-position: center;
}

#login-wrapper {
  background: #FFF;
  padding: 20px;
  width: 360px;
  height: 220px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4px;
}

#login-wrapper .logo {
  position: absolute;
  width: 120px;
  margin-top: -65px;
  left: 50%;
  margin-left: -60px
}

#login-wrapper .user-login-form {
  padding-top: 0;
}

#login-wrapper h2 {
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
}

#login-wrapper .user-login-form .form-control {
  padding: 10px;
  font-size: 16px;
  height: auto;
  position: relative;
}

#login-wrapper .user-login-form .form-item {
  position: relative;
}

#login-wrapper .user-login-form i {
  position: absolute;
  z-index: 3;
  pointer-events: none;
  padding: 14px;
  color: #555;
}

#login-wrapper .user-login-form .form-control:focus {
  z-index: 2;
}

#login-wrapper .user-login-form .form-control {
  padding-left: 35px;
}

#login-wrapper .user-login-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#login-wrapper .user-login-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
