@import url(http://fonts.googleapis.com/css?family=Lato:700,300,100);

body {
  padding: 0 !important;
  background: #2F3439;
  font-family: 'Lato', sans-serif;
}

body.welcome {
  background: url(../images/background.jpg) no-repeat center center fixed #2F3439;
  background-size: cover;
  background-position: center;
}

#login-signup-wrapper {
  background: #FFF;
  padding: 20px;
  width: 95%;
  max-width: 360px;
  height: 220px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4px;
}

#login-signup-wrapper .logo {
  position: absolute;
  width: 120px;
  margin-top: -65px;
  left: 50%;
  margin-left: -60px
}

#login-signup-wrapper .user-form {
  padding-top: 0;
}

#login-signup-wrapper h2 {
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
}

#login-signup-wrapper .user-form .form-control {
  padding: 10px;
  font-size: 16px;
  height: auto;
  position: relative;
}

#login-signup-wrapper .user-form .form-item {
  position: relative;
}

#login-signup-wrapper .user-form .form-item span.help-block {
  position: absolute;
  left: 100%;
  width: 120px;
  background: #a94442;
  color: white;
  font-size: 12px;
  padding: 5px;
  padding-left: 10px;
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
  top: 0;
  line-height: 14px;
}
#login-signup-wrapper .user-form .form-item span.help-block.valid {
  display: none !important;
}

#login-signup-wrapper .user-form i {
  position: absolute;
  z-index: 3;
  pointer-events: none;
  padding: 14px;
  color: #555;
}

#login-signup-wrapper .user-form .form-control {
  padding-left: 35px;
  z-index: 1;
}

#login-signup-wrapper .user-form .form-control:focus {
  z-index: 2;
}

#login-signup-wrapper .user-form input[type="text"],
#login-signup-wrapper .user-form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#login-signup-wrapper .user-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#welcome-signup {
  padding: 20px;
  width: 95%;
  max-width: 450px;
  height: 260px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

#welcome-signup h1 {
  color: white;
  font-weight: 100;
}

#welcome-signup img {
  border-radius: 50%;
}

#welcome-signup input[type="text"] {
  width: 75%;
  margin: 0 auto;
  font-size:30px;
  height: auto;
  padding-bottom: 0;
  border: 0;
  border-bottom: 1px solid white;
  background: transparent;
  text-align: center;
  color: white;
  border-radius: 0;
}

#welcome-signup input[type="text"]:focus {
  outline: none;
  box-shadow:none !important;
}

#welcome-signup .carousel-inner .item {
  height: 50px;
}

#welcome-signup .carousel-inner .item .btn {
  margin-top: 5px;
}

#welcome-signup .carousel-control {
  background: transparent;
  width: auto;
}

#welcome-signup ol.carousel-indicators {
  bottom: -40px;
  opacity: 0.5;
}

#welcome-signup ol.carousel-indicators:hover {
  opacity: 1.0;
}

#welcome-signup .carousel-indicators li {
  width: 8px;
  height: 8px;
}

#welcome-signup .carousel-indicators .active {
  width: 10px;
  height: 10px;
}

#welcome-signup .carousel-control .glyphicon-chevron-left,
#welcome-signup .carousel-control .glyphicon-chevron-right,
#welcome-signup .carousel-control .icon-prev,
#welcome-signup .carousel-control .icon-next {
  width: auto;
  height: auto;
  margin: 0;
  font-size: inherit;
}
