
<div>
  <h1>Create New User</h1>
</div>

<div class="panel-body">

  <div data-ng-if="errors" class="row errors">
    <div class="col-sm-5">
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong class="error-summary" data-ng-bind="errors.summary"></strong>
        <ul data-ng-repeat="error in errors.many">
          <li data-ng-bind="error"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <form class="form-horizontal" role="form" name="createUser" ng-submit="createUserSubmit()">

      <div class="form-group" ng-class="{ 'has-error' : createUser.name.$invalid && !createUser.name.$pristine }">
        <label for="title" class="col-sm-1 control-label">Name</label>
        <div class="col-sm-4">
          <input type="text" name="name" ng-model="newUser.name" class="form-control" placeholder="User Name" required/>
          <p ng-show="createUser.name.$invalid && !createUser.name.$pristine" class="help-block">Name is required.</p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : createUser.email.$invalid && !createUser.email.$pristine }">
        <label for="title" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-4">
          <input type="email" name="email" ng-model="newUser.email" class="form-control" placeholder="Email" required/>
          <p ng-show="createUser.email.$invalid && !createUser.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : createUser.newMinistry.$invalid && !createUser.newMinistry.$pristine }">
        <label for="title" class="col-sm-1 control-label">Ministry</label>

        <div class="row">
          <div class="col-sm-4">
            <div class="input-group">
              <label class="label-simple">
                <input type="radio" ng-model="existing.isExisting" value="existing">
                Existing
              </label>
              <label class="label-simple">
                <input type="radio" ng-model="existing.isExisting" value="new">
                New Ministry
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-sm-offset-1" data-ng-show="existing.isExisting === 'existing'">
          <ui-select ng-model="newUser.ministry" theme="bootstrap">
            <ui-select-match placeholder="Select a ministry in the list or search by ministry name...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="ministry.id as ministry in ministries | select2Filter: {name: $select.search}">
              <div ng-bind-html="ministry.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="col-sm-4 col-sm-offset-1" data-ng-show="existing.isExisting === 'new'">
          <input type="text" name="newMinistry" ng-model="newUser.newMinistry" class="form-control" placeholder="Ministry Name"/>
        </div>

      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-1">
          <input type="submit" class="btn btn-success" value="Create User" data-ng-disabled="createUser.$invalid || (!newUser.ministry && !newUser.newMinistry)"/>
        </div>
        <div class="col-sm-1">
          <a ui-sref="staff.users" class="btn btn-default">Cancel</a>
        </div>
      </div>

    </form>
  </div>
</div>

