<div class="users">
  <h1>People <a ui-sref="staff.userCreate" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> Create User</a></h1>
  <table class="table table-list table-hover users">
    <thead>
      <tr>
        <th></th>
        <th>
          <a href="" data-ng-click="orderByField='name'; reverseSort = !reverseSort">Name
            <i ng-show="orderByField == 'name'" class="fa" data-ng-class="reverseSort ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          </a>
        </th>
        <th>
          <a href="" data-ng-click="orderByField='email'; reverseSort = !reverseSort">Email
            <i ng-show="orderByField == 'email'" class="fa" data-ng-class="reverseSort ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          </a>
        </th>
        <th>
          <a href="" data-ng-click="orderByField='ministry.name'; reverseSort = !reverseSort">Ministry
            <i ng-show="orderByField == 'ministry.name'" class="fa" data-ng-class="reverseSort ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          </a>
        </th>
        <th>
          <a href="" data-ng-click="orderByField='createdAt'; reverseSort = !reverseSort">Date Created
            <i ng-show="orderByField == 'createdAt'" class="fa" data-ng-class="reverseSort ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="user in users | orderBy: orderByField: reverseSort | filter:searchText" class="clickable-row" data-ng-click="detailedUserTransition(user.id)">
        <td><img ng-src="{{user.avatar}}" height="50" width="50" /></td>
        <td data-ng-bind="user.name"></td>
        <td data-ng-bind="user.email"></td>
        <td><a data-ng-bind="user.ministry.name"></a></td>
        <td data-ng-bind="user.createdAt | date : M/d/yyyy"></td>
      </tr>
    </tbody>
  </table>
</div>