<div class="dash-panel-full">

  <hr>

  <div class="row user-management-row">
    <div class="col-md-3">
      <h3>User Management: </h3>
    </div>
    <div class="col-md-2">
      <button data-ng-click="lockUnlock()" class="btn btn-primary">
        <i class="fa" data-ng-class="user.isLocked ? 'fa-unlock' : 'fa-lock'"></i>
        <span data-ng-bind="user.isLocked ? 'Unlock' : 'Lock'"></span> User Account
      </button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary"><i class="fa fa-key"></i>Masquerade as User</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary"><i class="fa fa-shield"></i>Reset User Password</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-2">
      <img ng-src="{{user.avatar}}" height="100" width="100" class="pull-left"/>
    </div>

    <div class="col-md-9">
      <h1 data-ng-bind="user.name"></h1>
      <p data-ng-bind="user.inviteCode"></p>
      <p data-ng-bind="user.email"></p>
      <p><a data-ng-bind="user.ministry.name" data-ng-href="/#/staff/ministry/{{user.ministry.id}}"></a></p>
      <p ng-show="user.lastLogin">Last Login:
        <span data-ng-bind="user.lastLogin | date: format: medium"></span>
      </p>
    </div>
  </div>
</div>