
  md-tabs.staffTabs {
    min-height: 49px;
  }

  md-toolbar .back:hover {
    background-color: rgba(158,158,158,0.4);
  }

  .new-user-form {
    padding-top: 24px !important;

    md-autocomplete {
      margin: 20px 0px;

      input {
        font-size: 20px;
      }
    }
  }

  .users {
      .table-list td {
          vertical-align: middle;
      }
  }

  .user-management-row {
      h3 {
          margin: 0;
      }

      i {
          margin: 0px 5px;
      }
  }

  .ministries {
      .search-box i {
          color: #EEE;
          top: 20px;
          right: 20px;
      }
  }
