
md-tabs.staffTabs {
  min-height: 49px;
}

.search-box {

  background-color: #fff;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.12);
  padding-top: 15px;

  md-input-container {
    padding-bottom: 0;
    margin: 0;
    .md-errors-spacer {
      display: none;
    }
  }

  md-icon {
    color: grey;
  }

  input {
    border: none;
  }

}

md-toolbar .back:hover {
  background-color: rgba(158,158,158,0.4);
}

md-dialog.user-create, md-dialog.ministry-create {

  h1 {
    font-size: 30px;
    margin: 20px 0px;
  }

  md-dialog-content > div {
    margin-top: 0;
  }

  .new-user-form, .new-ministry-form {
    padding-top: 24px !important;

    md-autocomplete {
      margin: 20px 0px;

      input {
        font-size: 20px;
      }
    }
  }
}

.md-autocomplete-suggestions li {
  height: 30px;
  line-height: 30px;
}

.contact-card {
  .avatar {
    border-radius: 50px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }

  h1 {
    margin-bottom: 10px;
    text-align: center;
  }

  .basic-info {
    padding-bottom: 15px;

    p {
      margin: 0;
      display: inline-block;
    }

    i {
      color: rgba(0,0,0,0.54);
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.ministry-card {
  .avatar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }

  h2 {
    margin-bottom: 10px;
    text-align: center;
  }

  .basic-info {
    padding-bottom: 15px;

    p {
      margin: 0;
      display: inline-block;
    }

    i {
      color: rgba(0,0,0,0.54);
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.contact-info, .ministry-info {

  .md-input[disabled] {
    color: #000;
  }

  h3 {
    color: rgba(0,0,0,0.54);
    font-size: 18px;
    margin-top: 0;
  }

  .material-icons {
    color: rgba(0,0,0,0.54);
  }
}
