
<md-content class="main-content">
  <div layout="row" layout-margin>

    <div flex="30" class="ministry-card">
      <div layout="column" layout-align="center center" layout-padding>
        <img ng-src="https://images.bethel.io/images/{{ ministry.image ? ministry.image : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=150&amp;h=150" alt="{{ ministry.name }}" class="avatar"/>
        <h2 ng-bind="ministry.name"></h2>
        <md-button class="md-primary" ng-if="ministry.url" ng-href="{{ministry.url}}" target="blank">Visit Website</md-button>
      </div>
    </div>

    <div layout="column" flex>
      <md-whiteframe class="md-whiteframe-z1" flex style="margin-bottom:20px">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>
              <span>{{ billDate | date:'MMMM yyyy' }} Billable Usage</span>
            </h2>
            <span flex></span>
            <h2 style="font-weight:bold">
              <span>{{ currentBill.ministryTotal | currency:'$' }}</span>
            </h2>
          </div>
        </md-toolbar>
        <md-list>
          <invoice-line-item style="min-height:34px"
            ng-repeat="(feature, usage) in currentBill.summary"
            amount="usage.total"
            type="feature">
          </invoice-line-item>
        </md-list>
      </md-whiteframe>

      <md-whiteframe flex class="md-whiteframe-z1 md-padding ministry-info" layout="column">

        <h3>Ministry Details</h3>

        <md-input-container ng-if="ministry.email">
          <label>Email</label>
          <input ng-model="ministry.email" type="text" disabled>
        </md-input-container>

        <md-input-container>
          <label>Created</label>
          <input ng-model="ministry.createdAt" type="text" disabled>
        </md-input-container>

        <md-input-container ng-if="ministry.description">
          <label>Description</label>
          <textarea ng-model="ministry.description" columns="1" rows="3" disabled></textarea>
        </md-input-container>

      </md-whiteframe>
    </div>

  </div>
</md-content>
