<md-dialog flex="50" class="wizard">
  <md-dialog-content class="sticky-container">
    <md-toolbar class="md-accent md-hue-3">
      <h1 class="md-toolbar-tools">Create a New Ministry</h1>
    </md-toolbar>
    <div>
      <md-input-container>
        <label>New Ministry Name</label>
        <input class="focus" type="text" ng-model="newMinistry.name">
      </md-input-container>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">Cancel</md-button>
    <md-button ng-click="createNewMinistry()" class="md-primary">Create</md-button>
  </div>
</md-dialog>
