
<md-content class="main-content">
  <div layout="row" layout-margin>

    <div flex="30" class="contact-card">
      <div layout="column" layout-align="center center" layout-padding>
        <img ng-src="{{user.avatar}}" height="100" width="100" class="avatar">
        <h1 ng-bind="user.name"></h1>
        <md-button class="md-primary" ui-sref="staff.detailedMinistry({ ministryId: user.ministry.id })">{{user.ministry.name}}</md-button>
      </div>
    </div>

    <md-whiteframe flex class="md-whiteframe-z1 md-padding contact-info" layout="column">
<!--
      <md-fab-speed-dial md-direction="right" class="md-scale">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-hue-3 md-button md-default-theme">
            <i class="material-icons">menu</i>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button aria-label="Lock Unlock" class="md-fab md-raised md-mini" ng-click="lockUnlock()">
            <i class="material-icons" ng-bind="user.isLocked ? 'lock_open' : 'lock'"></i>
            <md-tooltip>{{user.isLocked ? 'Unlock' : 'Lock'}} Account</md-tooltip>
          </md-button>
          <md-button aria-label="Masquerade" class="md-fab md-raised md-mini">
            <i class="material-icons">group</i>
            <md-tooltip>Masquerade</md-tooltip>
          </md-button>
          <md-button aria-label="Password Reset" class="md-fab md-raised md-mini">
            <i class="material-icons">vpn_key</i>
            <md-tooltip>Reset Password</md-tooltip>
          </md-button>
          <md-button aria-label="" class="md-fab md-raised md-mini">
            <i class="material-icons">mail</i>
            <md-tooltip>Send Invite</md-tooltip>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
-->

      <h3>User Details</h3>

      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="text" disabled>
      </md-input-container>

      <md-input-container>
        <label>Member Since</label>
        <input ng-model="user.createdAt" type="text" disabled>
      </md-input-container>

      <md-input-container ng-if="user.lastLogin">
        <label>Last Login</label>
        <input ng-model="user.lastLogin" type="text" disabled>
      </md-input-container>

      <div layout="row" layout-align="space-around center">
        <md-input-container ng-if="user.inviteCode" flex>
          <label>Invite Code</label>
          <input ng-model="user.inviteCode" type="text" disabled>
        </md-input-container>
        <div>
          <md-button class="md-primary" ng-click="sendInviteEmail()" ng-bind="emailSending ? 'Sending...' : 'Send Invite'">
          </md-button>
        </div>
      </div>

      <md-input-container ng-if="user.invited">
        <label>Invite Sent</label>
        <input ng-model="user.invited" ng-trim="false" type="text" disabled>
      </md-input-container>

      <div layout="row" layout-align="space-around center">
        <md-input-container flex>
          <label>Account Locked</label>
          <input ng-model="user.isLocked" type="text" disabled>
        </md-input-container>
        <div>
          <md-button class="md-primary" ng-click="lockUnlock()" ng-bind="user.isLocked ? 'Unlock' : 'Lock'">
          </md-button>
        </div>
      </div>

    </md-whiteframe>

  </div>
</md-content>
