
<md-dialog flex="50" class="wizard">
  <md-dialog-content class="sticky-container">
    <md-toolbar class="md-accent md-hue-3">
      <h1 class="md-toolbar-tools">Create a New User</h1>
    </md-toolbar>
    <div class="new-user-form">

      <md-input-container>
        <label>User Name</label>
        <input class="focus" type="text" ng-model="newUser.name">
      </md-input-container>

      <md-input-container>
        <label>User Email</label>
        <input type="text" ng-model="newUser.email">
      </md-input-container>

      <label>Select or create a ministry with which to associate this user: </label>
      <md-radio-group ng-model="existing.isExisting" class="md-primary" layout="row">
        <md-radio-button value="existing" class="md-primary">Existing</md-radio-button>
        <md-radio-button value="new">New</md-radio-button>
      </md-radio-group>

      <md-input-container ng-show="existing.isExisting === 'new'">
        <label>New Ministry Name</label>
        <input type="text" ng-model="newUser.newMinistry">
      </md-input-container>

      <md-autocomplete ng-show="existing.isExisting === 'existing'"
          md-selected-item="newUser.ministry"
          md-search-text="searchText"
          md-items="ministry in ministries | filter: {name: searchText}"
          md-item-text="ministry.name"
          md-min-length="0"
          placeholder="Select Ministry">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{ministry.name}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>

    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">Cancel</md-button>
    <md-button ng-click="createUserSubmit()" class="md-raised">Create</md-button>
  </div>
</md-dialog>

<!--
  <div data-ng-if="errors" class="row errors">
    <div class="col-sm-5">
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong class="error-summary" data-ng-bind="errors.summary"></strong>
        <ul data-ng-repeat="error in errors.many">
          <li data-ng-bind="error"></li>
        </ul>
      </div>
    </div>
  </div> -->