
<md-list flex>
  <md-list-item class="md-2-line" layout="row" ng-click="action()">

    <div class="md-list-item-text" flex="40">
      <strong class="clickable" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</strong>
    </div>
    <div class="md-list-item-text" flex="20">
      <strong>User Count</strong>
    </div>
    <div class="md-list-item-text" flex="40">
      <strong class="clickable" ng-click="orderByField='createdAt'; reverseSort = !reverseSort">Date Created</strong>
    </div>

  </md-list-item>

  <md-list-item class="md-2-line" layout="row" ng-repeat="ministry in ministries | orderBy: orderByField: reverseSort | filter:searchText" ng-click="detailedMinistryTransition(ministry.id)">

    <div class="md-list-item-text" flex="40">
      <h3>{{ ministry.name }}</h3>
    </div>
    <div class="md-list-item-text" flex="20">
      <p>{{ ministry.users ? ministry.users.length : 0 }}</p>
    </div>
    <div class="md-list-item-text" flex="40">
      <p>{{ ministry.createdAt | date : M/d/yyyy }}</p>
    </div>

    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>

<!-- 
<form class="form-inline" data-ng-show="creatingMinistry" ng-submit="createMinistry()">
  <h3>Create New Ministry</h3>
  <div class="form-group">
    <label for="ministryName">Name</label>
    <input type="text" class="form-control" id="ministryName" placeholder="Ministry Name" data-ng-model="newMinistry.name" />
  </div>
  <input type="submit" class="btn btn-success" data-ng-disabled="!newMinistry.name" value="Create" />
  <a class="btn btn-default" data-ng-click="toggleCreatingMinistry()">Cancel</a>
</form> -->

<!-- 





<md-content>
  <div class="ministries">

    <table class="table table-list table-hover">
      <thead>
        <tr>
          <th>
            <a href="" data-ng-click="orderByField='name'; reverseSort = !reverseSort">Name
              <i ng-show="orderByField == 'name'" class="fa" data-ng-class="reverseSort ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </a>
          </th>
          <th>User Count</th>
          <th>
            <a href="" data-ng-click="orderByField='createdAt'; reverseSort = !reverseSort">Date Created
              <i ng-show="orderByField == 'createdAt'" class="fa" data-ng-class="reverseSort ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="ministry in ministries | orderBy: orderByField: reverseSort | filter:searchText" class="clickable-row" data-ng-click="detailedMinistryTransition(ministry.id)">
          <td>
            <a ui-sref="staff.detailedMinistry({ministryId: ministry.id})" data-ng-bind="ministry.name"></a>
          </td>
          <td data-ng-bind="ministry.users ? ministry.users.length : 0"></td>
          <td data-ng-bind="ministry.createdAt | date : M/d/yyyy"></td>
        </tr>
      </tbody>
    </table>
  </div>

</md-content> -->