<md-tabs flex="100" md-border-bottom class="tall" md-selected="currentTab" md-stretch-tabs="always">
  <md-tab ng-repeat="(id, tab) in staffTabs" label="{{ tab.label }}" md-on-select="updateLocation(id)">
    <md-content ng-include="'/features/staff/' + id + 'View.html'"></md-content>
  </md-tab>
</md-tabs>

<!-- <div layout="row" layout-wrap>
  <div flex="50" flex-sm="100">
    <md-tabs md-border-bottom md-selected="tabIndex" md-center-tabs="false" class="staffTabs tall">
      <md-tab label="people" ui-sref=".users"></md-tab>
      <md-tab label="ministries" ui-sref=".ministry"></md-tab>
      <md-tab label="all billables" ui-sref=".invoice"></md-tab>
    </md-tabs>
  </div>

  <div flex="50" flex-sm="100" class="search-box">
    <md-input-container md-no-float>
      <md-icon>search</md-icon>
      <input ng-model="searchText" type="text" placeholder="Search" />
    </md-input-container>
  </div>
</div>

<div class="panel-body" layout="column" ui-view flex></div> -->
