md-dialog.podcast-media {
  iframe {
    margin-bottom: 20px;
    width: 100%;
  }
}

md-dialog.wizard.podcast {
  md-select {
    padding-bottom: 20px;
  }
}

md-list.episodes {
  padding: 0;

  > md-progress-linear {
    position: relative;
    top: -10px;
    margin-bottom: -5px;
  }
}

.episode-tools {
  margin-top: 19px;
  text-align: right;
  button.md-button {
    margin: 0;
  }
}

.statistics {
  md-card {
    background: rgb(69, 90, 100);
    &.good {
      background: #49c5b1;
    }
    &.bad {
      background: #c54949;
    }
  }
  md-card-content {
    text-align: center;
    color: #FFF;
    strong {
      font-size: 32px;
    }
    small {
      font-size: 16px;
    }
  }
  canvas {
    margin-top: 5px;
  }
}

.vimeo-sync {
  h4 {
    margin: 0;
    small {
      font-weight: normal;
    }
  }
  .md-chip-remove {
    position: relative;
    top: -4px;
  }
}
