md-dialog.podcast-media {
  iframe {
    margin-bottom: 20px;
    width: 100%;
  }
}

md-dialog.wizard.podcast {
  md-select {
    padding-bottom: 20px;
  }
}

md-list.episodes {
  padding: 0;

  > md-progress-linear {
    position: relative;
    top: -10px;
    margin-bottom: -5px;
  }
}

.episode-tools {
  margin-top: 19px;
  text-align: right;
  button.md-button {
    margin: 0;
  }
}

.vimeo-sync {
  h4 {
    margin-bottom: 0;
    small {
      font-weight: normal;
    }
  }
  .md-chip-remove {
    position: relative;
    top: -4px;
  }
}
