<md-dialog flex="50" class="podcast-media">
  <md-dialog-content class="sticky-container">

    <iframe ng-src="{{ media.url }}" width="600" height="140" frameborder="0"></iframe>

    <div layout-padding>

      <md-input-container>
        <label>{{ 'PODCAST.MEDIA.TITLE' | translate }}<span ng-if="vimeo"> (syncing from Vimeo)</span></label>
        <input type="text" ng-disabled="vimeo" ng-model="media.name" />
      </md-input-container>

      <md-input-container>
        <label>Episode Date</label>
        <input type="text" ng-model="media.date" />
      </md-input-container>

      <md-autocomplete
          md-selected-item="media.reference"
          md-search-text="seriesSearchText"
          md-items="item in getSeries(seriesSearchText)"
          md-item-text="item"
          ng-show="$root.ministry.url"
          placeholder="{{ 'PODCAST.MEDIA.PLAYER_HELP' | translate }}">
        <md-item-template>
          <span md-highlight-text="seriesSearchText" md-highlight-flags="^i">{{ item }}</span>
        </md-item-template>
        <md-not-found>
          No matches found for "{{ seriesSearchText }}".
        </md-not-found>
      </md-autocomplete>

      <md-input-container >
        <label>{{ 'PODCAST.MEDIA.DESCRIPTION' | translate }}<span ng-if="vimeo"> (syncing from Vimeo)</span></label>
        <textarea ng-disabled="vimeo" ng-model="media.description" columns="1" rows="3"></textarea>
      </md-input-container>

      <div class="form-group" data-ng-if="ministry.url">
        <label><small data-ng-bind="'PODCAST.MEDIA.PLAYER' | translate"></small></label>
        <input type="text" class="form-control" placeholder="{{ 'PODCAST.MEDIA.PLAYER_HELP' | translate }}" data-ng-model="media.reference" typeahead="series for series in getSeries($viewValue)" />
      </div>

    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">Cancel</md-button>
    <md-button ng-click="save()" class="md-primary">Save Changes</md-button>
  </div>
</md-dialog>
