<md-dialog flex="50" class="wizard">
  <md-dialog-content class="sticky-container">
    <div>
      <h2>Create a new podcast</h2>
      <p>We'll walk you through everything. Let's go!</p>
      <md-input-container>
        <label>Name your podcast</label>
        <input type="text" ng-model="newPodcast.name">
      </md-input-container>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer('not useful')">Cancel</md-button>
    <md-button ng-click="answer('useful')" class="md-primary">Next</md-button>
  </div>
</md-dialog>
