<md-toolbar aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2>{{ podcast.name }}</h2>
  </div>
  <button class="md-fab md-fab-top-right md-hue-3 md-button md-default-theme" aria-label="Upload Episode" ngf-select="onFileSelect($files)" ng-if="podcast.source === 1" accept="audio/mp4,audio/x-m4a,audio/*,video/mp4,video/x-m4v,video/*" style="overflow: hidden;">
    <md-tooltip>Upload Episode</md-tooltip>
    <md-icon>add</md-icon>
  </button>
</md-toolbar>

<md-content class="main-content" layout="row" layout-wrap>

  <div class="overlay" flex layout="row" layout-align="center center" layout-margin layout-padding ng-if="isDemo" style="width:100%">
    <md-whiteframe class="md-whiteframe-z2 md-padding" flex="60" layout="column" layout-align="center center">
      <h3 class="light">Welcome to your new podcast!</h3>
      <span>Real stats will appear when we have a few weeks of data.</span>
      <span ng-if="podcast.source === 1 && podcast.media.length < 1">Go ahead, upload some episodes and when you're ready...</span>
      <span ng-if="podcast.source === 2 && !podcast.lastSync">Your episodes will sync with Vimeo shortly...</span>
      <md-input-container>
        <label>Podcast feed URL</label>
        <input onclick="this.select();" ng-model="feed" readonly type="text" />
      </md-input-container>
      <md-button class="md-primary" href="https://buy.itunes.apple.com/WebObjects/MZFinance.woa/wa/publishPodcast" ng-if="subscriberCount < 1 || isDemo" target="_blank">Submit to iTunes</md-button>
    </md-whiteframe>
  </div>

  <div class="statistics" flex="100" layout="row" layout-padding ng-class="{ 'demo': isDemo }">
    <div flex="30">
      <h3>Last Week:</h3>
      <md-card>
        <md-card-content>
          <strong>{{ subscriberCount | number }}</strong><br />
          <small>audience</small>
        </md-card-content>
      </md-card>
      <md-card ng-class="subscriberChange > 1 ? 'good' : 'bad'" ng-if="subscriberChange !== 0">
        <md-card-content>
          <strong>{{ subscriberChange | number : 1 }}%</strong><br />
          <small>{{ subscriberChange > 1 ? 'increase' : 'decrease' }}</small>
        </md-card-content>
      </md-card>
    </div>
    <div flex="70">
      <p>Weekly Podcast Audience Since {{ subscriberChart.labels[0] }}</p>
      <canvas id="line" class="chart chart-line" chart-data="subscriberChart.data" chart-labels="subscriberChart.labels" chart-options="subscriberChart.options"></canvas>
    </div>
  </div>

  <div flex="100" layout-padding layout-align="top center">

    <md-subheader class="md-no-sticky">
      <ng-pluralize count="podcast.media.length" when="{ '0': 'No Episodes', '1': '1 podcast episode', 'other': '{} podcast episodes' }"></ng-pluralize>
      <span ng-if="uploading"> (1 uploading)</span>
      <span ng-if="podcast.source === 2"> from Vimeo account <strong>{{ podcast.service.name }}</strong>. <em>Last sync: <span am-time-ago="podcast.lastSync" ng-if="podcast.lastSync"></span><span ng-if="!podcast.lastSync">in progress</span></em></span>
    </md-subheader>
    <md-whiteframe class="md-whiteframe-z1" layout>
      <md-list class="episodes" flex="100">
        <md-progress-linear md-mode="determinate" ng-if="uploading" value="{{ uploadProgress }}"></md-progress-linear>
        <md-list-item ng-if="podcast.media.length < 1">
          <p ng-if="!uploading && podcast.source === 1">Upload your first podcast episode using the <md-icon>add</md-icon> button above!</p>
          <p ng-if="podcast.source === 2 && !podcast.lastSync">We're pulling your videos from Vimeo now! They'll appear here shortly.</p>
          <p ng-if="podcast.source === 2 && podcast.lastSync">No videos matching the tags you've entered were found. Just uploaded a video? Your video will show up on the next sync.</p>
          <p ng-if="uploading">Way to go! Your first podcast episode is uploading...</p>
        </md-list-item>
        <md-list-item class="md-2-line md-no-proxy" layout="row" ng-repeat="media in podcast.media | orderBy : 'date' : true">
          <div class="md-list-item-text" flex="70">
            <h3> {{ media.name }} </h3>
            <p am-time-ago="media.date"></p>
          </div>
          <div class="episode-tools" flex="30">
            <md-button class="md-mini md-primary" ng-click="editMedia($event, media.id)" ng-if="podcast.source === 1">Edit</md-button>
            <md-button ng-disabled="true" class="md-mini">Embed</md-button>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-whiteframe>

  </div>

</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-z1" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-is-open="1 == 1" layout-fill flex="30">

  <md-content flex layout="column">

    <img ng-src="https://images.bethel.io/images/{{ podcast.image ? podcast.image : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=300&amp;h=300&amp;modified={{ podcast.updatedAt }}" alt="{{ podcast.name }}" width="100%" />

    <div layout="row" layout-align="center center" ng-hide="thumbnailUploading">
      <button class="md-primary md-button md-default-theme" ngf-select="uploadThumbnail($files)" accept="image/png,image/jpg,image/jpeg">Upload New Image</button>
    </div>

    <div layout="row" layout-align="center center" ng-show="thumbnailUploading">
      <md-progress-circular md-diameter="24" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div layout-padding layout-margin>

      <span class="vimeo-sync" ng-if="podcast.source === 2">
        <h4>Podcast syncing with Vimeo<br />
          <small>Uploads with these tags will be included:</small></h4>
        <md-chips ng-model="podcast.sourceMeta"></md-chips>
      </span>

      <md-input-container>
        <label>Podcast title</label>
        <input type="text" ng-model="podcast.name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
      </md-input-container>

      <md-input-container>
        <label>Tags</label>
        <input type="text" ng-model="podcastTags" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
      </md-input-container>

      <md-input-container>
        <label>Description</label>
        <textarea ng-model="podcast.description" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" columns="1" rows="3" md-maxlength="4000"></textarea>
      </md-input-container>

    </div>

  </md-content>

</md-sidenav>
