<div layout="row" layout-align="center center" layout-wrap ng-if="podcasts.length" style="flex: 1 0 auto !important">
  <action-card ng-click="view(podcast.id)" ng-repeat="podcast in podcasts | orderBy : 'name'" img="podcast.imageUrl">
    <h2>{{ podcast.name }}</h2>
    <p>{{ statistics[podcast.id] ? statistics[podcast.id] : 0 }} subscribers, {{ podcast.media.length }} episodes</p>
  </action-card>
<div>

<md-button class="md-fab md-fab-bottom-right md-hue-3" aria-label="Add" ng-click="showWizard($event)">
  <md-tooltip md-direction="top">New Podcast</md-tooltip>
  <md-icon>add</md-icon>
</md-button>

<div ng-if="podcasts.length < 1 && !sailsSocket.outstanding" flex="50">
  <md-card class="getting-started">
    <md-card-content>
      <h2 class="md-title">Getting Started with Podcasting</h2>
      <p>Creating a podcast is easy! Answer a few questions and you'll be ready to upload your first episode in a matter of minutes.</p>
      <md-button ng-click="showWizard($event)">New Podcast</md-button>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-content>
      <p>Already have an existing podcast you'd like to move to Bethel? We'll take care of everything including forwarding your old podcast URL. Your subscribers won't miss a thing!</p>
      <md-button href="mailto:help@bethel.io">Contact Us</md-button>
    </md-card-content>
  </md-card>
</div>
