<md-button class="md-fab md-fab-top-right md-hue-3" aria-label="Add" ng-click="showWizard($event)">
  <md-tooltip>New Podcast</md-tooltip>
  <md-icon>add</md-icon>
</md-button>

<md-toolbar aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2>Podcasting</h2>
    <span flex></span>
  </div>
</md-toolbar>

<md-content class="main-content" flex layout="column" layout-align="center center">

  <div layout="row" layout-align="center center" layout-fill layout-wrap equalize="md-card-content">

    <div ng-if="podcasts.length < 1 && !sailsSocket.outstanding" flex="50">
      <md-card class="getting-started">
        <md-card-content>
          <h2 class="md-title">Getting Started with Podcasting</h2>
          <p>Creating a podcast is easy! Answer a few questions and you'll be ready to upload your first episode in a matter of minutes.</p>
          <md-button ng-click="showWizard($event)">New Podcast</md-button>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content>
          <p>Already have an existing podcast you'd like to move to Bethel? We'll take care of everything including forwarding your old podcast URL. Your subscribers won't miss a thing!</p>
          <md-button href="mailto:help@bethel.io">Contact Us</md-button>
        </md-card-content>
      </md-card>
    </div>

    <div ng-repeat="podcast in podcasts | orderBy : 'name'" flex="25">
      <md-card ng-click="view(podcast.id)">
        <img ng-src="https://images.bethel.io/images/{{ podcast.image ? podcast.image : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=300&amp;h=300&amp;modified={{ podcast.updatedAt }}" alt="{{ podcast.name }}" class="md-card-image" alt="{{ podcast.name }}" />
        <md-card-content>
          <h2 class="md-title">{{ podcast.name }}</h2>
        </md-card-content>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">{{ statistics[podcast.id] ? statistics[podcast.id] : 0 }} subscribers, {{ podcast.media.length }} episodes</md-subheader>
      </md-card>
    </div>

  </div>

</md-content>
