<md-dialog flex="50" flex-sm="100" flex-md="70" class="podcast wizard">
  <wizard on-finish="createPodcast()" hide-indicators="true">
    <wz-step>

      <md-dialog-content class="sticky-container">
        <md-toolbar>
          <h1>Create a new podcast</h1>
          <p>We'll walk you through everything. Let's go!</p>
        </md-toolbar>
        <div>
          <md-input-container class="primary">
            <label>Name your podcast</label>
            <input type="text" class="focus" ng-model="newPodcast.name" />
          </md-input-container>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <md-button class="muted" href="mailto:help@bethel.io">Need Help?</md-button>
        <span flex></span>
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button wz-next class="md-primary" ng-disabled="!newPodcast.name">Next</md-button>
      </div>

    </wz-step>
    <wz-step>

      <md-dialog-content class="sticky-container">
        <md-toolbar>
          <h1>What type of podcast?</h1>
          <p>Create separate podcasts for audio and video.</p>
        </md-toolbar>
        <div layout="row" layout-align="center center">
          <md-button flex="30" class="bucket type-audio" ng-click="selectType(1)" ng-class="{ 'md-primary': newPodcast.type == '1' }">
            <md-icon>mic</md-icon>
            Audio
            <md-tooltip>Ideal for on-the-go listeners</md-tooltip>
          </md-button>
          <md-button flex="30" class="bucket type-video" ng-click="selectType(2)" ng-class="{ 'md-primary': newPodcast.type == '2' }">
            <md-icon>play_circle_filled</md-icon>
            Video
            <md-tooltip>Supports full HD episodes</md-tooltip>
          </md-button>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <md-button class="muted" href="mailto:help@bethel.io">Need Help?</md-button>
        <span flex></span>
        <md-button wz-previous>Back</md-button>
        <md-button wz-next class="md-primary" ng-disabled="!newPodcast.type">Next</md-button>
      </div>

    </wz-step>
    <wz-step>

      <md-dialog-content class="sticky-container">
        <md-toolbar>
          <h1>Choose episode storage</h1>
          <p>Where will new episodes be uploaded?</p>
        </md-toolbar>
        <div layout="row" layout-align="center center">
          <md-button class="bucket storage-bethel" flex="30" ng-class="{ 'md-primary': newPodcast.source == '1' }" ng-click="selectSource(1)">
            Bethel Cloud
            <md-tooltip>Drag and drop uploading</md-tooltip>
          </md-button>
          <md-button class="bucket storage-vimeo" flex="30" ng-class="{ 'md-primary': newPodcast.source == '2' }" ng-click="selectSource(2)">
            Vimeo Pro
            <md-tooltip>Automatic sync with your Vimeo account</md-tooltip>
          </md-button>
        </div>
        <md-divider></md-divider>
        <div layout="column" layout-align="center center" ng-show="newPodcast.source == 2">
          <md-select placeholder="Select a Vimeo account" ng-model="newPodcast.service">
            <md-option ng-repeat="service in services" value="{{ service.id }}">{{ service.name }}</md-option>
            <md-option value="SERVICES_NEW">{{ 'PODCAST.VIMEO_CONNECT' | translate }}</md-option>
          </md-select>
          <md-input-container ng-show="newPodcast.service">
            <label>What tags should be used to sync videos from Vimeo?</label>
            <input type="text" class="focus" ng-model="newPodcast.sourceMeta" />
          </md-input-container>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <md-button class="muted" href="mailto:help@bethel.io">Need Help?</md-button>
        <span flex></span>
        <md-button wz-previous>Back</md-button>
        <md-button wz-next class="md-primary" ng-disabled="!newPodcast.source || (newPodcast.source == 2 && (!newPodcast.service || !newPodcast.sourceMeta))">Next</md-button>
      </div>

    </wz-step>
    <wz-step>

      <md-dialog-content class="sticky-container">
        <md-toolbar>
          <h1>Upload your podcast image</h1>
          <p>Subscribers will see this image in iTunes</p>
        </md-toolbar>
        <div layout="row" layout-align="center center">
          <img data-ng-src="https://images.bethel.io/images/{{ newPodcast.temporaryImage ? 'podcast/tmp/' + newPodcast.temporaryImage : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=200&amp;h=200" width="200" alt="{{ newPodcast.name }}" />
          <div flex="60" offset="5">
            <ul>
              <li>Save your image as <strong>PNG</strong> or <strong>JPEG</strong>.</li>
              <li>Your image should measure 1,400 pixels square.</li>
              <li>Remember, your image may be small on some devices.</li>
              <li><em>You can skip this step for now.</em></li>
            </ul>
            <button accept="image/png,image/jpg,image/jpeg" class="md-button md-default-theme md-primary" ngf-select="selectThumbnail($files)" ng-hide="thumbnailUploading">Upload an image</button>
            <md-progress-circular md-diameter="24" md-mode="indeterminate" ng-show="thumbnailUploading"></md-progress-circular>
          </div>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <md-button class="muted" href="mailto:help@bethel.io">Need Help?</md-button>
        <span flex></span>
        <md-button wz-previous>Back</md-button>
        <md-button wz-next class="md-primary">Next</md-button>
      </div>

    </wz-step>
    <wz-step>

      <md-dialog-content class="sticky-container">
        <md-toolbar>
          <h1>Just about done!</h1>
          <p>Is everything below correct?</p>
        </md-toolbar>
        <div layout="row" layout-align="center center">
          <div class="podcast-preview">
            <img data-ng-src="https://images.bethel.io/images/{{ newPodcast.temporaryImage ? 'podcast/tmp/' + newPodcast.temporaryImage : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=200&amp;h=200" width="200" alt="{{ newPodcast.name }}" />
            <p><strong>{{ newPodcast.name }}</strong><br />
              <small class="text-muted">{{ $root.ministry.name }}</small></p>
          </div>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <md-button class="muted" href="mailto:help@bethel.io">Need Help?</md-button>
        <span flex></span>
        <md-button wz-previous>Back</md-button>
        <md-button wz-next class="md-primary">Create My Podcast!</md-button>
      </div>

    </wz-step>
  </wizard>
</md-dialog>
