<div class="podcast detail">
  <div class="header" flex="100" layout="row">
    <div layout="column">
      <img ng-src="https://images.bethel.io/images/{{ podcast.image ? podcast.image : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=300&amp;h=300&amp;modified={{ podcast.updatedAt }}" alt="{{ podcast.name }}" ngf-select="uploadThumbnail($files)" accept="image/png,image/jpg,image/jpeg" width="150" height="150" />
      <md-button ng-show="!thumbnailUploading">Upload Image</md-button>
      <md-progress-circular md-diameter="86" md-mode="indeterminate" ng-show="thumbnailUploading"></md-progress-circular>
    </div>
    <div layout="column" flex>
      <md-menu md-position-mode="target-right target">
        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Podcast Options">
          <md-icon md-menu-origin>settings</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-if="podcast.source === 1">
            <md-button ng-click="openFileSelector()" ng-disabled="uploading">
              <div layout="row">
                <p flex>{{ uploading ? 'Upload in Progress' : 'Upload Episode' }}</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">add</md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="viewPodcastUrl($event)">
              <div layout="row">
                <p flex>Podcast Feed URL</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">link</md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="deletePodcast()">
              <div layout="row">
                <p flex>Delete Podcast</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">delete</md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <h1>{{ podcast.name }} <small>{{ podcast.type === 1 ? 'Audio' : 'Video' }} Podcast</small></h1>
      <p><ng-pluralize count="podcast.media.length" when="{ '0': 'No Episodes', '1': '1 episode', 'other': '{} episodes' }"></ng-pluralize>
        <span ng-if="uploading"> (1 uploading)</span>
        <span ng-if="podcast.source === 2"> from Vimeo account <strong>{{ podcast.service.name }}</strong>. <em>Last sync: <span am-time-ago="podcast.lastSync" ng-if="podcast.lastSync"></span><span ng-if="!podcast.lastSync">in progress</span></em></span></p>
    </div>
    <div class="statistics" layout="column">
      <md-card>
        <md-card-content>
          <strong>{{ subscriberCount | number }}</strong><br />
          <small>audience</small>
        </md-card-content>
      </md-card>
      <md-card ng-class="subscriberDifference > 0 ? 'good' : 'bad'" ng-if="subscriberPercentChange !== 0">
        <md-card-content>
          <strong>{{ subscriberPercentChange | number : 1 }}%</strong><br />
          <small>{{ subscriberDifference > 0 ? 'increase' : 'decrease' }}</small>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div ng-if="podcast.media.length < 1">
    <p ng-if="!uploading && podcast.source === 1">Upload your first podcast episode using the <md-icon>add</md-icon> button above!</p>
    <p ng-if="podcast.source === 2 && !podcast.lastSync">We're pulling your videos from Vimeo now! They'll appear here shortly.</p>
    <p ng-if="podcast.source === 2 && podcast.lastSync">No videos matching the tags you've entered were found. Just uploaded a video? Your video will show up on the next sync.</p>
    <p ng-if="uploading">Way to go! Your first podcast episode is uploading...</p>
  </div>

  <md-button class="md-fab md-fab-bottom-right md-hue-3" aria-label="Upload Episode" ngf-select="onFileSelect($files)" ng-if="podcast.source === 1 && !uploading" accept="audio/mp4,audio/x-m4a,audio/*,video/mp4,video/x-m4v,video/*">
    <md-tooltip md-direction="top">Upload Episode</md-tooltip>
    <md-icon>add</md-icon>
  </md-button>

  <expansion-panel ng-repeat="media in podcast.media | orderBy : 'date' : true" ng-model="media">
    <header>
      <div class="title">{{ media.name }}</div>
      <div class="summary" am-time-ago="media.date"></div>
      <md-icon>keyboard_arrow_down</md-icon>
    </header>
    <content>
      <fieldset ng-disabled="!media.$expanded">
        <div flex layout="row">
          <md-input-container flex="70">
            <label>Episode name</label>
            <input type="text" ng-model="media.name" ng-model-options="{ updateOn: 'default blur' }" />
          </md-input-container>
          <md-input-container flex="30">
            <label>Episode Date</label>
            <input type="text" ng-model="media.date" ng-model-options="{ updateOn: 'blur' }" />
          </md-input-container>
        </div>

        <md-autocomplete
            md-selected-item="media.reference"
            md-search-text="seriesSearchText"
            md-items="item in getSeries(seriesSearchText)"
            md-item-text="item"
            ng-show="$root.ministry.cms"
            placeholder="Media player category">
          <md-item-template>
            <span md-highlight-text="seriesSearchText" md-highlight-flags="^i">{{ item }}</span>
          </md-item-template>
          <md-not-found>
            No matches found for "{{ seriesSearchText }}".
          </md-not-found>
        </md-autocomplete>

        <md-input-container>
          <label>Description<span ng-if="podcast.source === 2"> (syncing from Vimeo)</span></label>
          <textarea ng-disabled="podcast.source === 2" ng-model="media.description" columns="1" rows="3"></textarea>
        </md-input-container>

        <div class="form-group" data-ng-if="ministry.url">
          <label><small>Media player</small></label>
          <input type="text" class="form-control" placeholder="Media player category" data-ng-model="media.reference" typeahead="series for series in getSeries($viewValue)" />
        </div>

      </fieldset>
    </content>
    <footer>
      <md-button class="md-warn" ng-click="deletePodcastEpisode(media)">Delete</md-button>
      <div class="flex"></div>
      <md-button ng-click="episodeCancel(media)" cancel>Cancel</md-button>
      <md-button class="md-primary" ng-click="episodeSave(media)">Save</md-button>
    </footer>
  </expansion-panel>

  <!--

  <md-sidenav class="md-sidenav-right md-whiteframe-z1" layout="column" md-is-locked-open="$mdMedia('gt-sm')" flex="30">

    <md-content>

      <div layout="column" layout-margin>

        <span class="vimeo-sync" ng-if="podcast.source === 2">
          <h4>Podcast syncing with Vimeo<br />
            <small>Uploads with these tags will be included:</small></h4>
          <md-chips ng-model="podcast.sourceMeta"></md-chips>
        </span>

        <md-input-container>
          <label>Podcast title</label>
          <input type="text" ng-model="podcast.name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
        </md-input-container>

        <md-input-container>
          <label>Tags</label>
          <input type="text" ng-model="podcastTags" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
        </md-input-container>

        <md-input-container>
          <label>Description</label>
          <textarea ng-model="podcast.description" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" columns="1" rows="3" md-maxlength="4000"></textarea>
        </md-input-container>

      </div>

    </md-content>

  </md-sidenav>
  </div> -->
</div>
