<div layout="row" flex>
<div layout="column" flex>

<md-toolbar aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2>{{ podcast.name }}</h2>
    <span flex></span>
    <small><ng-pluralize count="statistics[id]" when="{ '0': 'No subscribers yet', '1': '1 subscriber so far', 'other': '{} weekly subscribers' }"></ng-pluralize></small>
  </div>
</md-toolbar>

<md-content class="main-content" flex layout="column" layout-margin layout-padding>

  <md-button class="md-fab md-fab-bottom-right md-hue-3" aria-label="Upload Episode" ng-file-select="onFileSelect($files)" multiple accept="audio/mp4,audio/x-m4a,audio/*,video/mp4,video/x-m4v,video/*">
    <md-tooltip>Upload Episode</md-tooltip>
    <md-icon md-svg-icon="icons/ic_add_24px.svg"></md-icon>
  </md-button>

  <div class="md-whiteframe-z1">
    <md-list>
      <md-progress-linear md-mode="determinate" ng-if="uploading && uploadProgress < 100" value="{{ uploadProgress }}"></md-progress-linear>
      <md-subheader class="md-no-sticky"><ng-pluralize count="podcast.media.length" when="{ '0': 'No Episodes', '1': '1 Podcast Episode', 'other': '{} Podcast Episodes' }"></ng-pluralize></md-subheader>
      <md-list-item ng-if="!media || media.length < 1">
        <p>Upload your first podcast episode now!</p>
      </md-list-item>
      <md-list-item class="md-2-line" ng-repeat="media in podcast.media | orderBy : 'date' : true">
        <div class="md-list-item-text">
          <h3> {{ media.name }} </h3>
          <p am-time-ago="media.date"></p>
        </div>
      </md-list-item>
    </md-list>
  </div>

</md-content>

</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z1" layout="column" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-is-open="1 == 1" layout-fill flex="30">

  <md-content flex>

    <img ng-src="https://images.bethel.io/images/{{ podcast.image ? podcast.image : 'DefaultPodcaster.png' }}?crop=faces&amp;fit=crop&amp;w=300&amp;h=300&amp;modified={{ podcast.updatedAt }}" alt="{{ podcast.name }}" width="100%" />

    <div layout="row" layout-align="center center">
      <md-button class="md-primary" ng-file-select="uploadThumbnail($files)" accept="image/png,image/jpg,image/jpeg">Upload New Image</md-button>
    </div>

    <div layout-padding layout-margin>

      <md-input-container>
        <label>Podcast title</label>
        <input type="text" ng-model="podcast.name">
      </md-input-container>

      <md-chips ng-model="podcast.tags" secondary-placeholder="Tags"></md-chips>

      <md-input-container>
        <label>Description</label>
        <textarea ng-model="podcast.description" columns="1" rows="3" md-maxlength="4000"></textarea>
      </md-input-container>

    </div>

  </md-content>

</md-sidenav>

</div>