<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Connected Accounts</h2>
  </div>
  <div class="panel-body full">
    <table class="table table-hover">
      <tr ng-repeat="account in accounts | orderBy:'name'">
        <td style="width:30px;">
          <img ng-src="{{ account.picture }}" />
        </td>
        <td style="vertical-align:middle;">
          <h5>{{ account.name }} &nbsp;<small data-ng-bind="account.provider | uppercase"></small></h5>
        </td>
        <td style="vertical-align:middle;text-align:right;">
          <a href="" class="btn btn-sm">Disconnect</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<a class="btn btn-lg btn-block" data-ng-click="serviceConnect()">Connect New Account</a>