<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <head>
    <style>
      .darkBackgroundColor {
        background-color: #292929;
      }
      .roundedImageCorners {
        itml-img-treatment: corner-small;
      }
      .customBadgeLayout {
        margin: 0 0 5 0;
      }
    </style>
  </head>
  <stackTemplate theme="dark" class="darkBackgroundColor">
    <identityBanner>
      <background>
        <img src="https://images.bethel.io/images/default_poster.jpg?crop=faces&amp;fit=crop&amp;w=1920&amp;h=360" width="1920" height="360" />
      </background>
      <title><%= ministry.name %></title>
      <row>
        <buttonLockup action="favorite">
          <badge src="resource://button-rate" id="favorite-badge" />
          <title>Favorite</title>
        </buttonLockup>
        <buttonLockup action="moreInfo">
          <badge src="resource://button-more" />
          <title>More Info</title>
        </buttonLockup>
      </row>
    </identityBanner>
    <collectionList>
      <shelf>
        <header>
          <title>Most Recent</title>
        </header>
        <section>
          <% _.each(episodes, function(episode) { %>
          <lockup action="playEpisode" episode="<%= episode.url %>">
            <img src="<%= episode.thumbnail %>" width="308" height="231" />
            <title><%= episode.name %></title>
          </lockup>
          <% }); %>
        </section>
      </shelf>
      <separator>
        <button action="browseMode">
          <text style="color:#fff">Past Series <badge class="customBadgeLayout" src="resource://button-dropdown" width="31" height="14" /></text>
        </button>
      </separator>
      <shelf>
        <section>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_1_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_2_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_3_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_4_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_5_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_6_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_7_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_8_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_9_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
          <lockup>
            <img src="${this.BASEURL}resources/images/italy/italy_10_square.jpg" width="548" height="340" class="roundedImageCorners" />
          </lockup>
        </section>
      </shelf>
    </collectionList>
  </stackTemplate>
</document>
