<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <head>
    <style>
      .darkBackgroundColor {
        background-color: #292929;
      }
    </style>
  </head>
  <descriptiveAlertTemplate theme="dark" class="darkBackgroundColor">
    <title><%= ministry.name %></title>
    <description><%= ministry.description %></description>
    <row>
      <button>
        <text>Done</text>
      </button>
    </row>
  </descriptiveAlertTemplate>
</document>
