<div class="dash-panel-full">
  <div class="panel panel-default panel-top">
    <div class="panel-heading" style="padding-bottom: 0;">
      <ul class="nav nav-tabs" style="border-bottom: 0;">
        <li><a href="#info-tiles" data-toggle="tab">Info Tiles</a></li>
        <li><a href="#live-view" data-toggle="tab">Live View</a></li>
        <li class="active"><a href="#push-notifications" data-toggle="tab">Push Notifications</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane" id="info-tiles">
          <p class="text-muted text-center">Info Tiles are shown on the main screen within your church app and may contain a variety of different types of content.  Only two tiles are seen at one time with the ability to scroll through your entire collection.</p>
          <hr>
        </div>
        <div class="tab-pane" id="live-view">
          <p class="text-muted text-center">Live View is a location-aware full screen information pane shown to visitors who are at your location.  The user doesn't have to select your church as their "home church" in order to be shown this panel.</p>
          <hr>
          <form class="form-horizontal sidebar-form" role="form" action="/" method="post" accept-charset="UTF-8">
            <div class="form-group">
              <label for="podcastDescription" class="col-sm-3 control-label">Heading</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" id="podcastTitle" placeholder="Welcome to [ministry name]" />
              </div>
            </div>
            <div class="form-group">
              <label for="podcastDescription" class="col-sm-3 control-label">Sermon</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" id="podcastTitle" placeholder="Title of the current sermon" />
              </div>
            </div>
            <div class="form-group">
              <label for="podcastDescription" class="col-sm-3 control-label">Speaker</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" id="podcastTitle" placeholder="Current Pastor or speaker" />
              </div>
            </div>
            <hr>
            <h4 class="text-center">Click on a button on the right to edit.</h4>
          </form>
        </div>
        <div class="tab-pane active" id="push-notifications">
          <div class="row">
            <div class="col-sm-7">
              <p class="text-muted text-center">Send a push notification to users who have selected your church as their home church.  <strong>Please use this feature responsibly.</strong></p>
              <hr>
              <form class="form-horizontal sidebar-form" role="form" action="/" method="post" accept-charset="UTF-8">
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea class="form-control" name="message" rows="4" id="pushMessage" placeholder="Enter your notification message"></textarea>
                  </div>
                </div>
                <a href="#" class="btn btn-block btn-default">Send Later</a>
                <button type="submit" class="btn btn-block btn-lg btn-primary sidebar-submit">Send Now</button>
              </form>
            </div>
            <div class="col-sm-5">
              <%- partial('partials/push-preview') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
