<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <head>
    <style>
      .roundedImageCorners {
        itml-img-treatment: corner-small;
      }
    </style>
  </head>
  <searchTemplate>
    <searchField id="search" />
    <collectionList>
      <shelf>
        <header>
          <title>My Favorites</title>
        </header>
        <section>
        </section>
      </shelf>
      <separator></separator>
      <grid>
        <header>
          <title>Search Results</title>
        </header>
        <%- partial('partials/results') %>
      </grid>
    </collectionList>
  </searchTemplate>
</document>
