<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <head>
    <style>
      .roundedImageCorners {
        itml-img-treatment: corner-small;
      }
      .toolsList {
        margin: -150 0;
      }
    </style>
  </head>
  <searchTemplate>
    <searchField id="search">Search by name or zip code</searchField>
    <collectionList>
      <list class="toolsList">
        <section>
          <listItemLockup action="showFavorites">
            <title>Show my favorites</title>
          </listItemLockup>
          <listItemLockup action="submitChurch">
            <title>Can't find your church?</title>
          </listItemLockup>
        </section>
      </list>
      <separator></separator>
      <grid>
        <%- partial('partials/results') %>
      </grid>
    </collectionList>
  </searchTemplate>
</document>
